{
  "openapi": "3.1.0",
  "info": {
    "title": "Ethos APIs - BannerEedmAPIs",
    "version": "generated-from-postman",
    "description": "Native OpenAPI 3.1 conversion generated from the BannerEedmAPIs Postman collection. Duplicate method/path variants were merged because OpenAPI cannot contain multiple operations with the same HTTP method and path."
  },
  "servers": [
    {
      "url": "https://integrate.elluciancloud.com"
    }
  ],
  "paths": {
    "/api/academic-catalogs": {
      "get": {
        "operationId": "get_api_academic_catalogs",
        "summary": "Academic Catalogs 6.0 - Return all resources",
        "description": "### Academic Catalogs 6.0 - Return all resources\n\nReturns a paged listing of all the resources in the system.\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-catalogs-6.0.0/academic-catalogs.yaml\n\n---\n\n### Academic Catalogs 6.1.0 - Returns all resources from STVTERM.\n\nReturns all academic catalog records from STVTERM table.\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-catalogs-6.1.0/academic-catalogs.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The maximum number of resources requesting for this result set."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The 0 based index for a collection of resources for the page requested."
          },
          {
            "name": "criteria",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "### N/A  \n"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "### N/A  \n"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v6+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v6+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 2,
        "x-postman-request-names": [
          "Academic Catalogs 6.0 - Return all resources",
          "Academic Catalogs 6.1.0 - Returns all resources from STVTERM."
        ]
      }
    },
    "/api/academic-catalogs/{id}": {
      "get": {
        "operationId": "get_api_academic_catalogs_id",
        "summary": "Academic Catalogs 6.0 - Return the requested resource",
        "description": "### Academic Catalogs 6.0 - Return the requested resource\n\nReturn the one resource with the passed in identifier\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-catalogs-6.0.0/academic-catalogs.yaml\n\n---\n\n### Academic Catalogs 6.1.0 - Returns the requested resource from STVTERM\n\nReturns an academic catalog record from STVTERM table for the passed in identifier.\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-catalogs-6.1.0/academic-catalogs.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v6+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v6+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 2,
        "x-postman-request-names": [
          "Academic Catalogs 6.0 - Return the requested resource",
          "Academic Catalogs 6.1.0 - Returns the requested resource from STVTERM"
        ]
      }
    },
    "/api/academic-credentials": {
      "get": {
        "operationId": "get_api_academic_credentials",
        "summary": "Academic Credentials 6.0 - Returns resources from STVDPLM and STVDEGC",
        "description": "### Academic Credentials 6.0 - Returns resources from STVDPLM and STVDEGC\n\nReturns a paged listing of all the academic credential records from STVDPLM and STVDEGC tables.\n\nThe academic credential records of type diploma are retrieved from STVDPLM table. The academic credential records of type degree, honorary and certificate are retrieved from STVDEGC table.\n\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-credentials-6.0.0/academic-credentials.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The maximum number of resources requesting for this result set. Default page limit is 500 and upper limit is 1000."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The 0 based index for a collection of resources for the page requested."
          },
          {
            "name": "criteria",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "### Type  \nReturns all academic credentials for the specific credential type i.e. degree, honorary, diploma, certificate passed.\n```\n/api/academic-credentials?type=degree\n```\n"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v6+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v6+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Academic Credentials 6.0 - Returns resources from STVDPLM and STVDEGC"
        ]
      },
      "post": {
        "operationId": "post_api_academic_credentials",
        "summary": "Academic Credentials 6.0 - Create a new resource in STVDPLM and STVDEGC",
        "description": "### Academic Credentials 6.0 - Create a new resource in STVDPLM and STVDEGC\n\nPOST requests must include a nil GUID value (\"00000000-0000-0000-0000-000000000000\") for the root id property.\n\nIn addition to the required properties defined in the data model, the following are required for a POST request: abbreviation\n\nCreates a new academic credentials record.\n\nIf 'type' property in the POST request is sent as diploma, then the academic credential record in created in STVDPLM table. If 'type' property in the POST request is sent as degree, honorary or certificate, then the academic credential record in created in STVDEGC table.\n\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-credentials-6.0.0/academic-credentials.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v6+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v6+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Academic Credentials 6.0 - Create a new resource in STVDPLM and STVDEGC"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/vnd.hedtech.integration.v6+json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/academic-credentials/{id}": {
      "get": {
        "operationId": "get_api_academic_credentials_id",
        "summary": "Academic Credentials 6.0 - Return the requested resource",
        "description": "### Academic Credentials 6.0 - Return the requested resource\n\nReturns a single academic credential record with the requested identifier.\n\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-credentials-6.0.0/academic-credentials.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v6+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v6+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Academic Credentials 6.0 - Return the requested resource"
        ]
      },
      "put": {
        "operationId": "put_api_academic_credentials_id",
        "summary": "Academic Credentials 6.0 - Update the requested resource",
        "description": "### Academic Credentials 6.0 - Update the requested resource\n\nUpdates an existing academic credential record with the passed in identifier.\n\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-credentials-6.0.0/academic-credentials.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v6+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v6+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Academic Credentials 6.0 - Update the requested resource"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/vnd.hedtech.integration.v6+json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/academic-disciplines": {
      "get": {
        "operationId": "get_api_academic_disciplines",
        "summary": "Academic Disciplines 10.0 - Return all resources",
        "description": "### Academic Disciplines 10.0 - Return all resources\n\nReturns a paged listing of all the resources in the system.\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-disciplines-10.0.0/academic-disciplines.yaml\n\n---\n\n### Academic Disciplines 15.0 - Returns resources from STVMAJR\n\nReturns a paged listing of all the academic discipline records of type major, minor and concentration from STVMAJR table\n\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-disciplines-15.0.0/academic-disciplines.yaml\n\n---\n\n### Academic Disciplines 7.0 - Return all resources\n\nReturns a paged listing of all the resources in the system.\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-disciplines-7.0.0/academic-disciplines.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The maximum number of resources requesting for this result set."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The 0 based index for a collection of resources for the page requested."
          },
          {
            "name": "criteria",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "### Type  \nReturns all academic disciplines for the specific discipline type i.e. minor, major and concentration passed.\n```\n/academic-disciplines?criteria={\"type\":\"major\"}\n```\n"
          },
          {
            "name": "majorStatus",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "### Major Status  \nFilter to return the major with the supplied status.\n```\n/academic-disciplines?majorStatus={\"majorStatus\":\"active\"}\n```\n"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v10+json",
                "application/vnd.hedtech.integration.v15+json",
                "application/vnd.hedtech.integration.v7+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v10+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 3,
        "x-postman-request-names": [
          "Academic Disciplines 10.0 - Return all resources",
          "Academic Disciplines 15.0 - Returns resources from STVMAJR",
          "Academic Disciplines 7.0 - Return all resources"
        ]
      },
      "post": {
        "operationId": "post_api_academic_disciplines",
        "summary": "Academic Disciplines 10.0 - Create a new resource",
        "description": "### Academic Disciplines 10.0 - Create a new resource\n\nCreate a new resource\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-disciplines-10.0.0/academic-disciplines.yaml\n\n---\n\n### Academic Disciplines 15.0 - Create a new resource in STVMAJR\n\nPOST requests must include a nil GUID value (\"00000000-0000-0000-0000-000000000000\") for the root id property.\n\nCreates a new academic discipline record in STVMAJR table\n\nBelow is the API behavior details for reporting property on a create request:\n\nReporting:\n\n- 'reporting' property is accepted only if STVMAJR_CIPC_CODE is sent in the create request.\n- The reporting country codes supported in the API are USA and CAN. Create request will be rejected with an error message if country code does not match USA or CAN.\n- The reporting country code sent in the request should match the home institution country code in GUBINST_ NATN_CODE. Create request will be rejected with an error message if the reported country code sent in request does not match the GUBINST_NATN_CODE.\n\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-disciplines-15.0.0/academic-disciplines.yaml\n\n---\n\n### Academic Disciplines 7.0 - Create a new resource\n\nCreate a new resource\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-disciplines-7.0.0/academic-disciplines.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v10+json",
                "application/vnd.hedtech.integration.v15+json",
                "application/vnd.hedtech.integration.v7+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v10+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 3,
        "x-postman-request-names": [
          "Academic Disciplines 10.0 - Create a new resource",
          "Academic Disciplines 15.0 - Create a new resource in STVMAJR",
          "Academic Disciplines 7.0 - Create a new resource"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/vnd.hedtech.integration.v10+json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "application/vnd.hedtech.integration.v15+json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "application/vnd.hedtech.integration.v7+json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/academic-disciplines/{id}": {
      "get": {
        "operationId": "get_api_academic_disciplines_id",
        "summary": "Academic Disciplines 10.0 - Return the requested resource",
        "description": "### Academic Disciplines 10.0 - Return the requested resource\n\nReturn the one resource with the passed in identifier\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-disciplines-10.0.0/academic-disciplines.yaml\n\n---\n\n### Academic Disciplines 15.0 - Return the requested resource from STVMAJR\n\nReturns a single academic discipline record from STVMAJR with the requested identifier\n\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-disciplines-15.0.0/academic-disciplines.yaml\n\n---\n\n### Academic Disciplines 7.0 - Return the requested resource\n\nReturn the one resource with the passed in identifier\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-disciplines-7.0.0/academic-disciplines.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v10+json",
                "application/vnd.hedtech.integration.v15+json",
                "application/vnd.hedtech.integration.v7+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v10+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 3,
        "x-postman-request-names": [
          "Academic Disciplines 10.0 - Return the requested resource",
          "Academic Disciplines 15.0 - Return the requested resource from STVMAJR",
          "Academic Disciplines 7.0 - Return the requested resource"
        ]
      },
      "put": {
        "operationId": "put_api_academic_disciplines_id",
        "summary": "Academic Disciplines 10.0 - Update the requested resource",
        "description": "### Academic Disciplines 10.0 - Update the requested resource\n\nUpdate the one resource with the passed in identifier\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-disciplines-10.0.0/academic-disciplines.yaml\n\n---\n\n### Academic Disciplines 15.0 - Update the requested resource from STVMAJR\n\nUpdates the existing academic discipline record in STVMAJR table with the passed in identifier.\n\nPlease refer to the notes in POST section of this document for API behavior details on 'reporting' property.\n\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-disciplines-15.0.0/academic-disciplines.yaml\n\n---\n\n### Academic Disciplines 7.0 - Update the requested resource\n\nUpdate the one resource with the passed in identifier\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-disciplines-7.0.0/academic-disciplines.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v10+json",
                "application/vnd.hedtech.integration.v15+json",
                "application/vnd.hedtech.integration.v7+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v10+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 3,
        "x-postman-request-names": [
          "Academic Disciplines 10.0 - Update the requested resource",
          "Academic Disciplines 15.0 - Update the requested resource from STVMAJR",
          "Academic Disciplines 7.0 - Update the requested resource"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/vnd.hedtech.integration.v10+json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "application/vnd.hedtech.integration.v15+json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "application/vnd.hedtech.integration.v7+json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/academic-honors": {
      "get": {
        "operationId": "get_api_academic_honors",
        "summary": "Academic Honors 6.0 - Return all resources from STVHONR and STVHOND",
        "description": "### Academic Honors 6.0 - Return all resources from STVHONR and STVHOND\n\nReturns a paged listing of all the academic honor records. The departmental honor records are retrieved from STVHONR table and institutional honor records are retrieved from STVHOND table.\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-honors-6.0.0/academic-honors.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The maximum number of resources requesting for this result set. Default page limit is 500 and upper limit is 1000."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The 0 based index for a collection of resources for the page requested."
          },
          {
            "name": "criteria",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "### Type  \nReturns all academic honors for the specific honors type i.e. award, distinction.\n```\n/academic-honors?type=award\n```\n"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v6+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v6+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Academic Honors 6.0 - Return all resources from STVHONR and STVHOND"
        ]
      }
    },
    "/api/academic-honors/{id}": {
      "get": {
        "operationId": "get_api_academic_honors_id",
        "summary": "Academic Honors 6.0 - Return the requested resource from STVHONR and STVHOND",
        "description": "### Academic Honors 6.0 - Return the requested resource from STVHONR and STVHOND\n\nReturn the single academic honor record with the passed in identifier\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-honors-6.0.0/academic-honors.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v6+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v6+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Academic Honors 6.0 - Return the requested resource from STVHONR and STVHOND"
        ]
      }
    },
    "/api/academic-levels": {
      "get": {
        "operationId": "get_api_academic_levels",
        "summary": "Academic Levels 6.0 - Return all resources from STVLEVL",
        "description": "### Academic Levels 6.0 - Return all resources from STVLEVL\n\nReturns a paged listing of all the academic level records from STVLEVL table\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-levels-6.0.0/academic-levels.yaml\n\n---\n\n### Academic Levels 6.1.0 - Return all resources from STVLEVL\n\nReturns a paged listing of all the academic level records from STVLEVL table\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-levels-6.1.0/academic-levels.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The maximum number of resources requesting for this result set. Default page limit is 500 and upper limit is 1000."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The 0 based index for a collection of resources for the page requested."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v6+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v6+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 2,
        "x-postman-request-names": [
          "Academic Levels 6.0 - Return all resources from STVLEVL",
          "Academic Levels 6.1.0 - Return all resources from STVLEVL"
        ]
      },
      "post": {
        "operationId": "post_api_academic_levels",
        "summary": "Academic Levels 6.0 - Create a new resource in STVLEVL",
        "description": "### Academic Levels 6.0 - Create a new resource in STVLEVL\n\nCreate a new academic level record in STVLEVL table\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-levels-6.0.0/academic-levels.yaml\n\n---\n\n### Academic Levels 6.1.0 - Create a new resource in STVLEVL\n\nCreate a new academic level record in STVLEVL table\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-levels-6.1.0/academic-levels.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v6+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v6+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 2,
        "x-postman-request-names": [
          "Academic Levels 6.0 - Create a new resource in STVLEVL",
          "Academic Levels 6.1.0 - Create a new resource in STVLEVL"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/vnd.hedtech.integration.v6+json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/academic-levels/{id}": {
      "get": {
        "operationId": "get_api_academic_levels_id",
        "summary": "Academic Levels 6.0 - Return the requested resource from STVLEVL",
        "description": "### Academic Levels 6.0 - Return the requested resource from STVLEVL\n\nReturns a single academic level record with the passed in identifier\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-levels-6.0.0/academic-levels.yaml\n\n---\n\n### Academic Levels 6.1.0 - Return the requested resource from STVLEVL\n\nReturns a single academic level record with the passed in identifier\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-levels-6.1.0/academic-levels.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v6+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v6+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 2,
        "x-postman-request-names": [
          "Academic Levels 6.0 - Return the requested resource from STVLEVL",
          "Academic Levels 6.1.0 - Return the requested resource from STVLEVL"
        ]
      },
      "put": {
        "operationId": "put_api_academic_levels_id",
        "summary": "Academic Levels 6.0 - Update the requested resource from STVLEVL",
        "description": "### Academic Levels 6.0 - Update the requested resource from STVLEVL\n\nUpdate the existing academic level record with the passed in identifier\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-levels-6.0.0/academic-levels.yaml\n\n---\n\n### Academic Levels 6.1.0 - Update the requested resource from STVLEVL\n\nUpdate the existing academic level record with the passed in identifier\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-levels-6.1.0/academic-levels.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v6+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v6+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 2,
        "x-postman-request-names": [
          "Academic Levels 6.0 - Update the requested resource from STVLEVL",
          "Academic Levels 6.1.0 - Update the requested resource from STVLEVL"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/vnd.hedtech.integration.v6+json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/academic-period-enrollment-statuses": {
      "get": {
        "operationId": "get_api_academic_period_enrollment_statuses",
        "summary": "Academic Period Enrollment Statuses 7.0 - Return all resources from STVESTS",
        "description": "### Academic Period Enrollment Statuses 7.0 - Return all resources from STVESTS\n\nReturns all academic period enrollment status records from STVESTS table\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-period-enrollment-statuses-7.0.0/academic-period-enrollment-statuses.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The maximum number of resources requesting for this result set. Default page limit is 500 and upper limit is 1000."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The 0 based index for a collection of resources for the page requested."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v7+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v7+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Academic Period Enrollment Statuses 7.0 - Return all resources from STVESTS"
        ]
      }
    },
    "/api/academic-period-enrollment-statuses/{id}": {
      "get": {
        "operationId": "get_api_academic_period_enrollment_statuses_id",
        "summary": "Academic Period Enrollment Statuses 7.0 - Return the requested resource from STVESTS",
        "description": "### Academic Period Enrollment Statuses 7.0 - Return the requested resource from STVESTS\n\nReturns a single academic period enrollment status record from STVESTS table with the requested identifier.\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-period-enrollment-statuses-7.0.0/academic-period-enrollment-statuses.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v7+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v7+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Academic Period Enrollment Statuses 7.0 - Return the requested resource from STVESTS"
        ]
      }
    },
    "/api/academic-periods": {
      "get": {
        "operationId": "get_api_academic_periods",
        "summary": "Academic Periods 16.0.0 - Returns resources",
        "description": "### Academic Periods 16.0.0 - Returns resources\n\nReturns a paged listing of all the academic period records of category year, term and subterm.\n\nThe year records are retrieved from STVACYR table, the term records are retrieved from STVTERM table, the subterm records of type part of term are retrieved from STVPTRM table and subterm records with Open Learning rules are retrieved from SOBODTE table.\n\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-periods-16.0.0/academic-periods.yaml\n\n---\n\n### Academic Periods 16.1.0 - Returns resources\n\nReturns a paged listing of all the academic period records of category year, term and subterm.\n\nThe year records are retrieved from STVACYR table, the term records are retrieved from STVTERM table, the subterm records of type part of term are retrieved from STVPTRM table and subterm records with Open Learning rules are retrieved from SOBODTE table.\n\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-periods-16.1.0/academic-periods.yaml\n\n---\n\n### Academic Periods 8.0 - Return all resources\n\nThis version of the resource uses a legacy filter format and cannot be displayed as a parameter.  Please refer to the API source documentation for more information.\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-periods-8.0.0/academic-periods.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The maximum number of resources requesting for this result set. Default page limit is 500 and upper limit is 1000."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The 0 based index for a collection of resources for the page requested."
          },
          {
            "name": "criteria",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "### Registration  \nReturns all academic periods for the registration passed.\n```\n/academic-periods?criteria={\"registration\":\"open\"}\n```\n### Code  \nReturns all academic periods for the code passed.\n```\n/academic-periods?criteria={\"code\":\"201410\"}\n```\n### Category Type  \nReturns all academic periods for the category passed.\n```\n/academic-periods?criteria={\"category\":{\"type\":\"term\"}}\n```\n"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v16+json",
                "application/vnd.hedtech.integration.v8+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v16+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 3,
        "x-postman-request-names": [
          "Academic Periods 16.0.0 - Returns resources",
          "Academic Periods 16.1.0 - Returns resources",
          "Academic Periods 8.0 - Return all resources"
        ]
      }
    },
    "/api/academic-periods/{id}": {
      "get": {
        "operationId": "get_api_academic_periods_id",
        "summary": "Academic Periods 16.0.0 - Return the requested resource",
        "description": "### Academic Periods 16.0.0 - Return the requested resource\n\nReturns a single academic period record with the requested identifier.\n\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-periods-16.0.0/academic-periods.yaml\n\n---\n\n### Academic Periods 16.1.0 - Return the requested resource\n\nReturns a single academic period record with the requested identifier.\n\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-periods-16.1.0/academic-periods.yaml\n\n---\n\n### Academic Periods 8.0 - Return the requested resource\n\nReturn the one resource with the passed in identifier\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-periods-8.0.0/academic-periods.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v16+json",
                "application/vnd.hedtech.integration.v8+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v16+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 3,
        "x-postman-request-names": [
          "Academic Periods 16.0.0 - Return the requested resource",
          "Academic Periods 16.1.0 - Return the requested resource",
          "Academic Periods 8.0 - Return the requested resource"
        ]
      }
    },
    "/api/academic-programs": {
      "get": {
        "operationId": "get_api_academic_programs",
        "summary": "Academic Programs 15.0 - Return all resources",
        "description": "### Academic Programs 15.0 - Return all resources\n\nReturns a paged listing of all the resources in the system.\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-programs-15.0.0/academic-programs.yaml\n\n---\n\n### Academic Programs 15.1.0 - Return all resources\n\nReturns a paged listing of all the resources in the system.\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-programs-15.1.0/academic-programs.yaml\n\n---\n\n### Academic Programs 15.2.0 - Returns resources from SMRPRLE, SOBCURR and GORGUID\n\nReturns all the academic program records from SMRPRLE  and all records from SOBCURR and a record from GORGUID table which is defined as a default program code to be used in student-academic-programs API.\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-programs-15.2.0/academic-programs.yaml\n\n---\n\n### Academic Programs 7.0 - Return all resources\n\nReturns a paged listing of all the resources in the system.\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-programs-7.0.0/academic-programs.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The maximum number of resources requesting for this result set."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The 0 based index for a collection of resources for the page requested."
          },
          {
            "name": "academicCatalog",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "### Academic Catalog  \nReturns an empty array for any academic catalog id passed.\n```\n/academic-programs?academicCatalog={\"academicCatalog\":{\"id\":\"57bffac4-202a-4835-a657-773763adf1f0\"}}\n```\n"
          },
          {
            "name": "criteria",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "### Academic Level  \nReturns all academic-programs for the academic level id passed.\n```\n/academic-programs?criteria={\"academicLevel\":{\"id\":\"47bffac4-202a-4835-a657-773763adf1f0\"}}\n```\n"
          },
          {
            "name": "recruitmentProgram",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "### Recruitment Program  \nReturns a list of active recruit academic programs.\n```\n/academic-programs?recruitmentProgram={\"recruitmentProgram\":\"active\"}\n```\n"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v15+json",
                "application/vnd.hedtech.integration.v7+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v15+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 4,
        "x-postman-request-names": [
          "Academic Programs 15.0 - Return all resources",
          "Academic Programs 15.1.0 - Return all resources",
          "Academic Programs 15.2.0 - Returns resources from SMRPRLE, SOBCURR and GORGUID",
          "Academic Programs 7.0 - Return all resources"
        ]
      }
    },
    "/api/academic-programs/{id}": {
      "get": {
        "operationId": "get_api_academic_programs_id",
        "summary": "Academic Programs 15.0 - Return the requested resource",
        "description": "### Academic Programs 15.0 - Return the requested resource\n\nReturn the one resource with the passed in identifier\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-programs-15.0.0/academic-programs.yaml\n\n---\n\n### Academic Programs 15.1.0 - Return the requested resource\n\nReturn the one resource with the passed in identifier\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-programs-15.1.0/academic-programs.yaml\n\n---\n\n### Academic Programs 15.2.0 - Return the requested resource from SMRPRLE, SOBCURR and GORGUID\n\nReturns a single academic program record from SMRPRLE  or SOBCURR or GORGUID with the requested identifier.\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-programs-15.2.0/academic-programs.yaml\n\n---\n\n### Academic Programs 7.0 - Return the requested resource\n\nReturn the one resource with the passed in identifier\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-programs-7.0.0/academic-programs.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v15+json",
                "application/vnd.hedtech.integration.v7+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v15+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 4,
        "x-postman-request-names": [
          "Academic Programs 15.0 - Return the requested resource",
          "Academic Programs 15.1.0 - Return the requested resource",
          "Academic Programs 15.2.0 - Return the requested resource from SMRPRLE, SOBCURR and GORGUID",
          "Academic Programs 7.0 - Return the requested resource"
        ]
      }
    },
    "/api/academic-standings": {
      "get": {
        "operationId": "get_api_academic_standings",
        "summary": "Academic Standings 8.0 - Return all resources from STVASTD",
        "description": "### Academic Standings 8.0 - Return all resources from STVASTD\n\nReturns a paged listing of all the academic standing records from STVASTD table.\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-standings-8.0.0/academic-standings.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The maximum number of resources requesting for this result set. Default page limit is 500 and upper limit is 1000."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The 0 based index for a collection of resources for the page requested."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v8+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v8+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Academic Standings 8.0 - Return all resources from STVASTD"
        ]
      }
    },
    "/api/academic-standings/{id}": {
      "get": {
        "operationId": "get_api_academic_standings_id",
        "summary": "Academic Standings 8.0 - Return the requested resource from STVASTD",
        "description": "### Academic Standings 8.0 - Return the requested resource from STVASTD\n\nReturn the single academic standing record with the passed in identifier\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/academic-standings-8.0.0/academic-standings.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v8+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v8+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Academic Standings 8.0 - Return the requested resource from STVASTD"
        ]
      }
    },
    "/api/account-funds-available": {
      "get": {
        "operationId": "get_api_account_funds_available",
        "summary": "Account Funds Available 8.0 - Return all resources",
        "description": "### Account Funds Available 8.0 - Return all resources\n\nThe API validates an accounting string for a transaction in progress and optionally confirms that the accounting string has sufficient budget for the amount being entered. \n\n### accountingString and amount filters are required in the URL for the GET request to work\n```\n  /api/account-funds-available?accountSpecification={\"accountingString\":{accountingString},\"amount\":{amount}}\n```\n\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/account-funds-available-8.0.0/account-funds-available.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The maximum number of resources requesting for this result set."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The 0 based index for a collection of resources for the page requested."
          },
          {
            "name": "accountSpecification",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "### accountingString and amount  \nFilter on accountingString and amount is mandatory for the API to return a respone. Following example shows how to invoke the API with the filters needed.\n```\n  /api/account-funds-available?accountSpecification={\"accountingString\":\"^|B^|LRACC2^|^|126^|5900^|23^|100^|01^|AMRTEST1^|DAXC^|01^|\",\"amount\":\"50\"}\n```\n### balanceOn  \n```\n  /api/account-funds-available?accountSpecification={\"accountingString\":\"^|B^|LRACC2^|^|126^|5900^|23^|100^|01^|AMRTEST1^|DAXC^|01^|\",\"amount\":\"50\",\"balanceOn\":\"2016-11-23T07:18:23Zss\"}\n```\n### submittedBy  \n```\n  /api/account-funds-available?accountSpecification={\"accountingString\":\"^|B^|LRACC2^|^|126^|5900^|23^|100^|01^|AMRTEST1^|DAXC^|01^|\",\"amount\":\"50\",\"submittedBy\":\"47858deb-47a2-4d7f-92f3-12bc52a240f8\"}\n```\n"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v8+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v8+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Account Funds Available 8.0 - Return all resources"
        ]
      }
    },
    "/qapi/account-funds-available-transactions": {
      "post": {
        "operationId": "post_qapi_account_funds_available_transactions",
        "summary": "Account Funds Available Transactions 11.1.0 - Checks for the availability of funds",
        "description": "### Account Funds Available Transactions 11.1.0 - Checks for the availability of funds\n\nThis is a QAPI and requires a /qapi in the route.\n\nThe API allows the user to check on the availability of funds for all accounts involved in one or more transactions taking into account the net effect of the transactions.\n\nThis QAPI supports below transaction types\n- travelEncumbranceCreate\n- travelEncumbranceAdjust\n- requisitions\n- purchase order (create order)\n- purchase order (change order)\n- travelExpense\n- otherInvoice\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/account-funds-available-transactions-11.1.0/account-funds-available-transactions.yaml",
        "tags": [
          "qapi"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The maximum number of resources requesting for this result set."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The 0 based index for a collection of resources for the page requested."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v11+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v11+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Account Funds Available Transactions 11.1.0 - Checks for the availability of funds"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/account-receivable-types": {
      "get": {
        "operationId": "get_api_account_receivable_types",
        "summary": "Account Receivable Types 6.0 - Return all resources",
        "description": "### Account Receivable Types 6.0 - Return all resources\n\nThis resource is exposed only through the Ethos API in order to be compliant with the Ethos domain definition. It returns an empty array.\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/account-receivable-types-6.0.0/account-receivable-types.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The maximum number of resources requesting for this result set."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The 0 based index for a collection of resources for the page requested."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v6+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v6+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Account Receivable Types 6.0 - Return all resources"
        ]
      }
    },
    "/api/accounting-code-categories": {
      "get": {
        "operationId": "get_api_accounting_code_categories",
        "summary": "Accounting Code Categories 11.0 - Returns all resources from TTVDCAT",
        "description": "### Accounting Code Categories 11.0 - Returns all resources from TTVDCAT\n\nReturns all list of user defined accounting code categories from TTVDCAT table in the Banner system.\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/accounting-code-categories-11.0.0/accounting-code-categories.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The maximum number of resources requesting for this result set. Page limit is 500 and upper limit is 1000."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The 0 based index for a collection of resources for the page requested."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v11+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v11+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Accounting Code Categories 11.0 - Returns all resources from TTVDCAT"
        ]
      }
    },
    "/api/accounting-code-categories/{id}": {
      "get": {
        "operationId": "get_api_accounting_code_categories_id",
        "summary": "Accounting Code Categories 11.0 - Returns the requested resource from TTVDCAT",
        "description": "### Accounting Code Categories 11.0 - Returns the requested resource from TTVDCAT\n\nReturns one accounting code category from TTVDCAT with the passed in identifier\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/accounting-code-categories-11.0.0/accounting-code-categories.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v11+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v11+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Accounting Code Categories 11.0 - Returns the requested resource from TTVDCAT"
        ]
      }
    },
    "/api/accounting-codes": {
      "get": {
        "operationId": "get_api_accounting_codes",
        "summary": "Accounting Codes 11.0 - Returns resources from TBBDETC",
        "description": "### Accounting Codes 11.0 - Returns resources from TBBDETC\n\nReturns a paged listing of all the accounting code records from TBBDETC table where TBBDETC_DETC_ACTIVE_IND = 'Y'\n\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/accounting-codes-11.0.0/accounting-codes.yaml\n\n---\n\n### Accounting Codes 6.0 - Return all resources\n\nReturns a paged listing of all the accounting codes from TBBDETC table in the Banner system.\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/accounting-codes-6.0.0/accounting-codes.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The maximum number of resources requesting for this result set. Default page limit is 500 and upper limit is 1000."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The 0 based index for a collection of resources for the page requested."
          },
          {
            "name": "criteria",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "### Category Usage  \nReturns all accounting codes for the given category usage. Usage property supports charge and payment type only.\n```\n/accounting-codes?criteria={\"category\":{\"usage\":\"charge\"}}\n```\n### Category Detail  \nReturns all accounting codes for the given category detail id\n```\n/accounting-codes?criteria={\"category\":{\"detail\":\"a75e78f2-2b4f-44da-9f93-3d644bd922b1\"}}\n```\n```\n/accounting-codes?criteria={\"category\":{\"detail\":{\"id\":\"a75e78f2-2b4f-44da-9f93-3d644bd922b1\"}}}\n```\n"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v11+json",
                "application/vnd.hedtech.integration.v6+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v11+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 2,
        "x-postman-request-names": [
          "Accounting Codes 11.0 - Returns resources from TBBDETC",
          "Accounting Codes 6.0 - Return all resources"
        ]
      }
    },
    "/api/accounting-codes/{id}": {
      "get": {
        "operationId": "get_api_accounting_codes_id",
        "summary": "Accounting Codes 11.0 - Return the requested resource from TBBDETC",
        "description": "### Accounting Codes 11.0 - Return the requested resource from TBBDETC\n\nReturns a single accounting code record from TBBDETC table with the requested identifier.\n\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/accounting-codes-11.0.0/accounting-codes.yaml\n\n---\n\n### Accounting Codes 6.0 - Return the requested resource\n\nReturn the one accounting code with the passed in identifier\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/accounting-codes-6.0.0/accounting-codes.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v11+json",
                "application/vnd.hedtech.integration.v6+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v11+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 2,
        "x-postman-request-names": [
          "Accounting Codes 11.0 - Return the requested resource from TBBDETC",
          "Accounting Codes 6.0 - Return the requested resource"
        ]
      }
    },
    "/api/accounting-string-component-values": {
      "get": {
        "operationId": "get_api_accounting_string_component_values",
        "summary": "Accounting String Component Values 15.0 - Returns all resources from FTVFTYP",
        "description": "### Accounting String Component Values 15.0 - Returns all resources from FTVFTYP\n\nReturns all accounting accounting string component value records from FTVFTYP table in the system.\n\nNote:\n\n• Map Level 1 fund type codes from FTVFTYP_FTYP_CODE_PRED column in FUND.COMPONENT.TYPE configuration setting to get type.fund property for fund records.\n\n• Map Level 1 account type codes from FTVATYP_ATYP_CODE_PRED column in ACCOUNT.COMPONENT.TYPE configuration setting to get type.account property for account records.\n\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/accounting-string-component-values-15.0.0/accounting-string-component-values.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The maximum number of resources requesting for this result set. The default limit is 500 and the maximum limit is 1000."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The 0 based index for a collection of resources for the page requested."
          },
          {
            "name": "criteria",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "### Component  \nAccounting string component used in the accounting string.\n```\n/accounting-string-component-values?criteria={\"component\":{\"id\":\"662ad735-4d8d-4689-907e-47e163234657\"}}\n```\n### Transaction Status  \nIndicates if accounting string component value is available for transaction entry.\n```\n/accounting-string-component-values?criteria={\"transactionStatus\":\"available\"}\n```\n### Account Type  \nFilter based on the type of account of the component.\n```\n/accounting-string-component-values?criteria={\"type\":{\"account\":\"expense\"}}\n```\n### Fund Type  \nFilter based on the type of fund of account component.\n```\n/accounting-string-component-values?criteria={\"type\":{\"fund\":\"studentLoan\"}}\n```\n### Status  \nThe status of the accounting string component value (active or inactive).\n```\n/accounting-string-component-values?criteria={\"status\":\"active\"}\n```\n### Grants  \nThe grant(s) associated with the accounting string component value.\n```\n/accounting-string-component-values?criteria={\"grants\":[{\"id\":\"b62ad735-4d8d-4689-907e-47e163234647\"}]}\n```\n"
          },
          {
            "name": "effectiveOn",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "### Effective On  \nFilter to return all records effective on a given date.\n```\n/accounting-string-component-values?effectiveOn={\"effectiveOn\":\"2015-08-29\"}\n```\n"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v15+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v15+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Accounting String Component Values 15.0 - Returns all resources from FTVFTYP"
        ]
      }
    },
    "/api/accounting-string-component-values/{id}": {
      "get": {
        "operationId": "get_api_accounting_string_component_values_id",
        "summary": "Accounting String Component Values 15.0 - Returns the requested resource from FTVFTYP",
        "description": "### Accounting String Component Values 15.0 - Returns the requested resource from FTVFTYP\n\nReturns one accounting string component value record from FTVFTYP\n\nNote:\n\n• Map Level 1 fund type codes from FTVFTYP_FTYP_CODE_PRED column in FUND.COMPONENT.TYPE configuration setting to get type.fund property for fund records.\n\n• Map Level 1 account type codes from FTVATYP_ATYP_CODE_PRED column in ACCOUNT.COMPONENT.TYPE configuration setting to get type.account property for account records.\n\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/accounting-string-component-values-15.0.0/accounting-string-component-values.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v15+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v15+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Accounting String Component Values 15.0 - Returns the requested resource from FTVFTYP"
        ]
      }
    },
    "/api/accounting-string-components": {
      "get": {
        "operationId": "get_api_accounting_string_components",
        "summary": "Accounting String Components 8.0 - Return all resources from FTVSDAT",
        "description": "### Accounting String Components 8.0 - Return all resources from FTVSDAT\n\nReturns a paged listing of all the component names of Chart, Index, Fund, Organization, Account, Program, Activity, Location, Project, Rule Class, Bank Code, Account Type and Fund Type used to build the accounting string for financial transactions.\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/accounting-string-components-8.0.0/accounting-string-components.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The maximum number of resources requesting for this result set. Default page limit is 500 and upper limit is 1000."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The 0 based index for a collection of resources for the page requested."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v8+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v8+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Accounting String Components 8.0 - Return all resources from FTVSDAT"
        ]
      }
    },
    "/api/accounting-string-components/{id}": {
      "get": {
        "operationId": "get_api_accounting_string_components_id",
        "summary": "Accounting String Components 8.0 - Return the requested resource from FTVSDAT",
        "description": "### Accounting String Components 8.0 - Return the requested resource from FTVSDAT\n\nReturn the one resource with the passed in identifier\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/accounting-string-components-8.0.0/accounting-string-components.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v8+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v8+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Accounting String Components 8.0 - Return the requested resource from FTVSDAT"
        ]
      }
    },
    "/api/accounting-string-formats": {
      "get": {
        "operationId": "get_api_accounting_string_formats",
        "summary": "Accounting String Formats 8.0 - Returns all resources from FTVSDAT",
        "description": "### Accounting String Formats 8.0 - Returns all resources from FTVSDAT\n\nReturns the effective dated and active accouting string format defined in FTVSDAT table in the system.\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/accounting-string-formats-8.0.0/accounting-string-formats.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The maximum number of resources requesting for this result set. The default limit is 500 and the maximum limit is 1000."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The 0 based index for a collection of resources for the page requested."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v8+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v8+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Accounting String Formats 8.0 - Returns all resources from FTVSDAT"
        ]
      }
    },
    "/api/accounting-string-formats/{id}": {
      "get": {
        "operationId": "get_api_accounting_string_formats_id",
        "summary": "Accounting String Formats 8.0 - Returns the requested resource from FTVSDAT",
        "description": "### Accounting String Formats 8.0 - Returns the requested resource from FTVSDAT\n\nReturns the effective dated and active accouting string format defined in FTVSDAT table with the passed in identifier\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/accounting-string-formats-8.0.0/accounting-string-formats.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v8+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v8+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Accounting String Formats 8.0 - Returns the requested resource from FTVSDAT"
        ]
      }
    },
    "/api/accounting-string-subcomponent-values": {
      "get": {
        "operationId": "get_api_accounting_string_subcomponent_values",
        "summary": "Accounting String Subcomponent Values 13.0 - Return all resources",
        "description": "### Accounting String Subcomponent Values 13.0 - Return all resources\n\nThis resource is exposed only through the Ethos API in order to be compliant with the Ethos domain definition. It returns an empty array.\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/accounting-string-subcomponent-values-13.0.0/accounting-string-subcomponent-values.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The maximum number of resources requesting for this result set."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The 0 based index for a collection of resources for the page requested."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v13+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v13+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Accounting String Subcomponent Values 13.0 - Return all resources"
        ]
      }
    },
    "/api/accounting-string-subcomponents": {
      "get": {
        "operationId": "get_api_accounting_string_subcomponents",
        "summary": "Accounting String Subcomponents 13.0 - Return all resources",
        "description": "### Accounting String Subcomponents 13.0 - Return all resources\n\nThis resource is exposed only through the Ethos API in order to be compliant with the Ethos domain definition. It returns an empty array.\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/accounting-string-subcomponents-13.0.0/accounting-string-subcomponents.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The maximum number of resources requesting for this result set."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The 0 based index for a collection of resources for the page requested."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v13+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v13+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Accounting String Subcomponents 13.0 - Return all resources"
        ]
      }
    },
    "/api/accounting-strings": {
      "get": {
        "operationId": "get_api_accounting_strings",
        "summary": "Accounting Strings 7.0 - Validates an accounting string for a given date.",
        "description": "### Accounting Strings 7.0 - Validates an accounting string for a given date.\n\nThis version of the resource uses a legacy filter format and cannot be displayed as a parameter.  Please refer to the API source documentation for more information.\n\n### accountingString filter is required in the URL for the GET request to work\n```\n  /api/account-funds-available?accountingString={accountingString}\n```\n\nNOTE \n\n  - If validOn date is sent in filter criteria, the API validates accounting string components according to the date sent in request.  \n  - If validOn date is not sent in filter criteria, the API validates accounting string components according to current system date.\n\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/accounting-strings-7.0.0/accounting-strings.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The maximum number of resources requesting for this result set."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The 0 based index for a collection of resources for the page requested."
          },
          {
            "name": "accountSpecification",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "### accountingString  \nFilter on accountingString is mandatory for the API to return a response.\n```\n  /api/accounting-strings?accountingString=^|B^|LRACC2^|^|126^|5900^|23^|100^|01^|AMRTEST1^|DAXC^|01^|\n```\n"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v7+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v7+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Accounting Strings 7.0 - Validates an accounting string for a given date."
        ]
      }
    },
    "/api/accounts-payable-invoices": {
      "get": {
        "operationId": "get_api_accounts_payable_invoices",
        "summary": "Accounts Payable Invoices 11.1.0 - Returns resources from FABINVH",
        "description": "### Accounts Payable Invoices 11.1.0 - Returns resources from FABINVH\n\nReturns all the records from FABINVH that have vendor information and at least one line item with an accounting string associated.\n\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/accounts-payable-invoices-11.1.0/accounts-payable-invoices.yaml\n\n---\n\n### Accounts Payable Invoices 16.0.0 - Returns resources from FABINVH\n\nReturns all the records from FABINVH that have vendor information and at least one line item with an accounting string associated.\n\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/accounts-payable-invoices-16.0.0/accounts-payable-invoices.yaml\n\n---\n\n### Accounts Payable Invoices 16.1.0 - Returns resources from FABINVH\n\nReturns all the records from FABINVH that have vendor information and at least one line item with an accounting string associated.\n\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/accounts-payable-invoices-16.1.0/accounts-payable-invoices.yaml\n\n---\n\n### Accounts Payable Invoices 8.0 - Return all resources\n\nReturns a paged listing of all the resources in the system.\n\nSource OpenAPI file: ethosapis/BannerEedmAPIs/accounts-payable-invoices-8.0.0/accounts-payable-invoices.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The maximum number of resources requesting for this result set. Default page limit is 30 and upper limit is 100."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The 0 based index for a collection of resources for the page requested."
          },
          {
            "name": "criteria",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "### Invoice Number  \nA system-generated number associated with the invoice.\n```\n/acounts-payable-invoices?criteria={\"invoiceNumber\": {$invoiceNumber}}\n```\n"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v11+json",
                "application/vnd.hedtech.integration.v16+json",
                "application/vnd.hedtech.integration.v16.1.0+json",
                "application/vnd.hedtech.integration.v8+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v11+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 4,
        "x-postman-request-names": [
          "Accounts Payable Invoices 11.1.0 - Returns resources from FABINVH",
          "Accounts Payable Invoices 16.0.0 - Returns resources from FABINVH",
          "Accounts Payable Invoices 16.1.0 - Returns resources from FABINVH",
          "Accounts Payable Invoices 8.0 - Return all resources"
        ]
      },
      "post": {
        "operationId": "post_api_accounts_payable_invoices",
        "summary": "Accounts Payable Invoices 11.1.0 - Create a new resource in FABINVH",
[...]
