{
  "openapi": "3.1.0",
  "info": {
    "title": "Ethos APIs - BannerErpAPIs",
    "version": "generated-from-postman",
    "description": "Native OpenAPI 3.1 conversion generated from the BannerErpAPIs Postman collection. Duplicate method/path variants were merged because OpenAPI cannot contain multiple operations with the same HTTP method and path."
  },
  "servers": [
    {
      "url": "https://integrate.elluciancloud.com"
    }
  ],
  "paths": {
    "/IntegrationApi/api/api-specifications": {
      "post": {
        "operationId": "post_IntegrationApi_api_api_specifications",
        "summary": "API Specifications 1.0.0 - Create a Custom API Definition",
        "description": "### API Specifications 1.0.0 - Create a Custom API Definition\n\nCreates a new custom API definition using a NIL GUID (`00000000-0000-0000-0000-000000000000`) and the resource name.\nGenerates the real GUID for the custom API and stores it in the GURASPC table.\n\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/api-specifications-1.0.0/api-specifications.yaml",
        "tags": [
          "IntegrationApi"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "API Specifications 1.0.0 - Create a Custom API Definition"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/IntegrationApi/api/api-specifications/{id}": {
      "delete": {
        "operationId": "delete_IntegrationApi_api_api_specifications_id",
        "summary": "API Specifications 1.0.0 - Delete Custom API Definition",
        "description": "### API Specifications 1.0.0 - Delete Custom API Definition\n\nDeletes a custom API using its GUID.\nRemoves the GURASPC definition and the GUID table associated with the API.\n\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/api-specifications-1.0.0/api-specifications.yaml",
        "tags": [
          "IntegrationApi"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "API Specifications 1.0.0 - Delete Custom API Definition"
        ]
      },
      "put": {
        "operationId": "put_IntegrationApi_api_api_specifications_id",
        "summary": "API Specifications 1.0.0 - Update an Existing Custom API",
        "description": "### API Specifications 1.0.0 - Update an Existing Custom API\n\nUpdates an existing custom API definition.\nAllows the following actions:\n- Activate (`status: enabled`)\n- Disable (`status: disabled`)\n- Reset to test (`status: test`)\n- Enable/disable OAuth (`oauthAllowed: true|false`)\n\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/api-specifications-1.0.0/api-specifications.yaml\n\n---\n\n### Endpoint Specifications 1.0.0 - Update Endpoint Specification for Custom API\n\nUpload or update the Endpoint Specification for a custom API.\nThe endpoint specification: - Defines the URL path of the API   - Describes supported HTTP methods (GET, POST, etc.)   - Specifies parameters, responses, and headers   - Is stored in GURASPC_ENDPOINT_SPEC  \nMedia types for request and response: - Accept: application/vnd.hedtech.integration.endpoint-specifications.v1+json - Content-Type: application/vnd.hedtech.integration.endpoint-specifications.v1+json\n\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/endpoint-specifications-1.0.0/endpoint-specifications.yaml\n\n---\n\n### Logic Specifications 1.0.0 - Update Logic Specification for Custom API\n\nUpload or update the Logic Specification for a custom API.\n\nA successful PUT updates columns in GURASPC including:\n- GURASPC_LOGIC_SPEC  \n- GURASPC_RETURNED_MEDIA_TYPE  \n- GURASPC_KNOWN_MEDIA_TYPES  \n- GURASPC_MAJOR_VERSION  \n- GURASPC_EVENT_DEF  \n- GURASPC_METHODS  \n- GURASPC_FILTERS  \n- GURASPC_SECURITY_OBJECT  \n- GURASPC_GUID_BASE_TABLE  \n- GURASPC_SHADOW_TABLE  \n\nGUID table and trigger generation occurs automatically for the resource.\n\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/logic-specifications-1.0.0/logic-specifications.yaml\n\n---\n\n### Resource Specifications 1.0.0 - Update Resource Specification for Custom API\n\nUpload or update the Resource Specification (JSON Schema) for a custom API.\nA successful PUT updates the following columns in GURASPC: - GURASPC_RESOURCE_SPEC   - GURASPC_RETURNED_MEDIA_TYPE   - GURASPC_KNOWN_MEDIA_TYPES   - GURASPC_MAJOR_VERSION  \nThe resource specification defines the JSON schema used for: - Documentation of the API   - Validation of incoming/outgoing data   - Establishing the API’s data contract  \n\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/resource-specifications-1.0.0/resource-specifications.yaml",
        "tags": [
          "IntegrationApi"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 4,
        "x-postman-request-names": [
          "API Specifications 1.0.0 - Update an Existing Custom API",
          "Endpoint Specifications 1.0.0 - Update Endpoint Specification for Custom API",
          "Logic Specifications 1.0.0 - Update Logic Specification for Custom API",
          "Resource Specifications 1.0.0 - Update Resource Specification for Custom API"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/account-holder-indicators": {
      "get": {
        "operationId": "get_api_account_holder_indicators",
        "summary": "Account Holder Indicators 1.0.0 - Returns listing of all the key indicators.",
        "description": "### Account Holder Indicators 1.0.0 - Returns listing of all the key indicators.\n\nReturn all information on key status indicators for an account.\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/account-holder-indicators-1.0.0/account-holder-indicators.yaml\n\n---\n\n### Account Holder Indicators 1.1.0 - Returns listing of all the key indicators.\n\nReturn all information on key status indicators for an account.\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/account-holder-indicators-1.1.0/account-holder-indicators.yaml\n\n---\n\n### Account Holder Indicators 2.0.0 - Returns listing of all the key indicators.\n\nReturn all information on key status indicators for an account.\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/account-holder-indicators-2.0.0/account-holder-indicators.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The maximum number of resources requesting for this result set. Default page limit is 500 and upper limit is 1000."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The 0 based index for a collection of resources for the page requested."
          },
          {
            "name": "criteria",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "### Banner Id \nReturns the account with information on key indicators based on person Id.\n```\n/account-holder-indicators?criteria={\"bannerId\":\"HOSARF001\"}\n```\n### Delinquency Code \nReturns the list of accounts with information on key indicators having specific delinquency code.\n```\n/account-holder-indicators?criteria={\"deliCode\":\"01\"}\n```\n### Bill Code \nReturns the list of accounts with information on key indicators having specific bill code.\n```\n/account-holder-indicators?criteria={\"billCode\":\"SP\"}\n```\n### Refund Indicator\nReturns the list of accounts with information on key indicators having specific refund indicator.\n```\n/account-holder-indicators?criteria={\"refundInd\":\"Y\"}\n```\n"
          },
          {
            "name": "bannerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Returns the account with information on key indicators based on person Id."
          },
          {
            "name": "billCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Returns the list of accounts with information on key indicators having specific bill code."
          },
          {
            "name": "deliCodeList",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Returns the list of accounts with information on key indicators having specific delinquency code."
          },
          {
            "name": "refundInd",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Returns the list of accounts with information on key indicators having specific refund indicator."
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Returns the list of accounts with information on key indicators, beginning from the specified start date."
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Returns the list of accounts with information on key indicators, filtering data up to the specified end date."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v1+json",
                "application/vnd.hedtech.integration.v1.1.0+json",
                "application/vnd.hedtech.integration.v2.0.0+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v1+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 3,
        "x-postman-request-names": [
          "Account Holder Indicators 1.0.0 - Returns listing of all the key indicators.",
          "Account Holder Indicators 1.1.0 - Returns listing of all the key indicators.",
          "Account Holder Indicators 2.0.0 - Returns listing of all the key indicators."
        ]
      }
    },
    "/api/accounting-feed-accounts-payable-details": {
      "get": {
        "operationId": "get_api_accounting_feed_accounts_payable_details",
        "summary": "Accounting Feed Accounts Payable Details 1.0.0 - Return resources from GURAPAY",
        "description": "### Accounting Feed Accounts Payable Details 1.0.0 - Return resources from GURAPAY\n\nReturn resources from GURAPAY\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/accounting-feed-accounts-payable-details-1.0.0/accounting-feed-accounts-payable-details.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The maximum number of resources requesting for this result set.\\\nThe default limit is 500 and the maximum limit is 1000.\n"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The 0 based index for a collection of resources for the page requested."
          },
          {
            "name": "criteria",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "### System Id\nReturns all Accounting Feed Accounts Payable Details for the systemId passed.\n```\n/accounting-feed-accounts-payable-details?criteria={\"systemId\":\"331314209\"}\n```\n### System Time Stamp\nReturns all Accounting Feed Accounts Payable Details for the systemTimeStamp passed.\n```\n/accounting-feed-accounts-payable-details?criteria={\"systemTimeStamp\":\"20230728092214\"}\n```\n### Document Code\nReturns all accounting feed accounts payable details for the docCode passed.\n```\n/accounting-feed-accounts-payable-details?criteria={\"docCode\":\"F0003485\"}\n```\n### User Id\nReturns all accounting feed accounts payable details for the userId passed.\n```\n/accounting-feed-accounts-payable-details?criteria={\"userId\":\"GRAILS\"}\n```\n### BannerId\nReturns all accounting feed accounts payable details for the bannerId passed.\n```\n/accounting-feed-accounts-payable-details?criteria={\"bannerId\":\"A00092839\"}\n```            \n### Transaction Number\nReturns all accounting feed accounts payable details for the tranNumber passed.\n```\n/accounting-feed-accounts-payable-details?criteria={\"tranNumber\":\"1\"}\n```\n### Detail Code\nReturns all accounting feed accounts payable details for the detailCode passed.\n```\n/accounting-feed-accounts-payable-details?criteria={\"detailCode\":\"RFND\"}\n```\n### Debit Credit Indicator\nReturns all accounting feed accounts payable details for the debitCreditInd passed.\n```\n/accounting-feed-accounts-payable-details?criteria={\"debitCreditInd\":\"+\"}\n```\n### Source Code\nReturns all accounting feed accounts payable details for the sourceCode passed.\n```\n/accounting-feed-accounts-payable-details?criteria={\"sourceCode\":\"T\"}\n```\n### Last Name\nReturns all accounting feed accounts payable details for the lastName passed.\n```\n/accounting-feed-accounts-payable-details?criteria={\"lastName\":\"Smith\"}\n```\n### Street Line 1\nReturns all accounting feed accounts payable details for the streetLine1 passed.\n```\n/accounting-feed-accounts-payable-details?criteria={\"streetLine1\":\"1 Apple Dr\"}\n```\n### City\nReturns all accounting feed accounts payable details for the city passed.\n```\n/accounting-feed-accounts-payable-details?criteria={\"city\":\"Charlotte\"}\n```\n### Address Type Code\nReturns all accounting feed accounts payable details for the addressTypeCode passed.\n```\n/accounting-feed-accounts-payable-details?criteria={\"addressTypeCode\":\"XX\"}\n```\n### Address Sequence Number\nReturns all accounting feed accounts payable details for the addressSeqno passed.\n```\n/accounting-feed-accounts-payable-details?criteria={\"addressSeqno\":\"0\"}\n```\n### Transaction Date\nReturns all accounting feed accounts payable details for the transDate passed.\n```\n/accounting-feed-accounts-payable-details?criteria={\"transDate\":\"2010-10-10\"}\n```\n### Transaction Amount\nReturns all accounting feed accounts payable details for the transAmt passed.\n```\n/accounting-feed-accounts-payable-details?criteria={\"transAmt\":123.12}\n```\n"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v1+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v1+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Accounting Feed Accounts Payable Details 1.0.0 - Return resources from GURAPAY"
        ]
      }
    },
    "/api/accounting-feed-accounts-payable-details/{systemId}": {
      "delete": {
        "operationId": "delete_api_accounting_feed_accounts_payable_details_systemId",
        "summary": "Accounting Feed Accounts Payable Details 1.0.0 - Removes a resource from GURAPAY",
        "description": "### Accounting Feed Accounts Payable Details 1.0.0 - Removes a resource from GURAPAY\n\nDeletes all existing GURAPAY records  from GURAPAY table with the passed in systemId.\n\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/accounting-feed-accounts-payable-details-1.0.0/accounting-feed-accounts-payable-details.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v1+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v1+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Accounting Feed Accounts Payable Details 1.0.0 - Removes a resource from GURAPAY"
        ]
      }
    },
    "/api/adviseeAssignment": {
      "post": {
        "operationId": "post_api_adviseeAssignment",
        "summary": "Advisee Assignments 1.0 - POST /api/adviseeAssignment",
        "description": "### Advisee Assignments 1.0 - POST /api/adviseeAssignment\n\nThis API treats each record in the request independent of other records. Records will be processed one by one sequentially in the given order. In no way API tries to derive relationship between records based on one or more fields. This API only INSERTs but never UPDATEs.\n\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/advisee-assignments-1.0.0/advisee-assignments.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v1.0.0+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v1.0.0+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Advisee Assignments 1.0 - POST /api/adviseeAssignment"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/vnd.hedtech.integration.v1.0.0+json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/advisors": {
      "get": {
        "operationId": "get_api_advisors",
        "summary": "Advisors 1.0 - List of all active advisors",
        "description": "### Advisors 1.0 - List of all active advisors\n\nThis API retrieves the list of all active advisors from an institution along with the advisor names for a specific term mentioned\n\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/advisors-1.0.0/advisors.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "202014",
            "description": "\n```\n/api/advisors?term=202014\n```\n"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v1.0.0+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v1.0.0+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Advisors 1.0 - List of all active advisors"
        ]
      }
    },
    "/api/advisors/{advisor_id}/advisees-grades/{advisee_id}": {
      "get": {
        "operationId": "get_api_advisors_advisor_id_advisees_grades_advisee_id",
        "summary": "Advisee Grades 1.1.0 - GET /api/advisors/{advisor_id}/advisees-grades/{advisee_id}",
        "description": "### Advisee Grades 1.1.0 - GET /api/advisors/{advisor_id}/advisees-grades/{advisee_id}\n\nRetrieves the grade information of a specified advisee of an advisor for the term passed.\n\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/account-holder-indicators-2.0.0/advisee-grades-1.1.0/advisee-grades.yaml\n\n---\n\n### Advisee Grades 1.0.0 - GET /api/advisors/{advisor_id}/advisees-grades/{advisee_id}\n\nRetrieves the grade information of a specified advisee of an advisor for the term passed.\n\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/advisee-grades-1.0.0/advisee-grades.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "advisor_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "advisee_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "term",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "202014"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v1.0.0+json",
                "application/vnd.hedtech.integration.v1.1.0+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v1.0.0+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 2,
        "x-postman-request-names": [
          "Advisee Grades 1.1.0 - GET /api/advisors/{advisor_id}/advisees-grades/{advisee_id}",
          "Advisee Grades 1.0.0 - GET /api/advisors/{advisor_id}/advisees-grades/{advisee_id}"
        ]
      }
    },
    "/api/advisors/{advisor_id}/advisees/{advisee_id}": {
      "get": {
        "operationId": "get_api_advisors_advisor_id_advisees_advisee_id",
        "summary": "advisees 1.0.0 - GET /api/advisors/{advisor_id}/advisees/{advisee_id}",
        "description": "### advisees 1.0.0 - GET /api/advisors/{advisor_id}/advisees/{advisee_id}\n\nRetrieves the primary curriculum information of an advisee for an advisor setup at an institution level for a particular term.\n\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/advisees-1.0.0/advisees.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "advisor_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "advisee_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "term",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "202014"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v1.0.0+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v1.0.0+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "advisees 1.0.0 - GET /api/advisors/{advisor_id}/advisees/{advisee_id}"
        ]
      }
    },
    "/api/advisors/{id}": {
      "get": {
        "operationId": "get_api_advisors_id",
        "summary": "Advisors 1.0 - Details of advisor",
        "description": "### Advisors 1.0 - Details of advisor\n\nRetrieves the contact card information of an active advisor from an institution for a specific term.\n\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/advisors-1.0.0/advisors.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "term",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "202014"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v1.0.0+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v1.0.0+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Advisors 1.0 - Details of advisor"
        ]
      }
    },
    "/api/advisors/{id}/advisee-grades": {
      "get": {
        "operationId": "get_api_advisors_id_advisee_grades",
        "summary": "Advisee Grades 1.1.0 - GET /api/advisors/{id}/advisee-grades",
        "description": "### Advisee Grades 1.1.0 - GET /api/advisors/{id}/advisee-grades\n\nRetrieves the list of all the advisees for an advisor and their grade information for the courses registered for the term passed.\n\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/account-holder-indicators-2.0.0/advisee-grades-1.1.0/advisee-grades.yaml\n\n---\n\n### Advisee Grades 1.0.0 - GET /api/advisors/{id}/advisee-grades\n\nRetrieves the list of all the advisees for an advisor and their grade information for the courses registered for the term passed.\n\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/advisee-grades-1.0.0/advisee-grades.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "term",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "202014"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v1.0.0+json",
                "application/vnd.hedtech.integration.v1.1.0+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v1.0.0+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 2,
        "x-postman-request-names": [
          "Advisee Grades 1.1.0 - GET /api/advisors/{id}/advisee-grades",
          "Advisee Grades 1.0.0 - GET /api/advisors/{id}/advisee-grades"
        ]
      }
    },
    "/api/advisors/{id}/advisee-searches": {
      "get": {
        "operationId": "get_api_advisors_id_advisee_searches",
        "summary": "Advisee Searches 1.0.0 - GET /api/advisors/{id}/advisee-searches",
        "description": "### Advisee Searches 1.0.0 - GET /api/advisors/{id}/advisee-searches\n\nWhether to search within advisees of given advisor or within all students of given term will be determined by two configuration settings, SIBINST_OVERRIDE_PROCESS_IND and GTVOTYP (ADVISEE_SEARCH_ADVR_REQ).\n\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/advisee-searches-1.0.0/advisee-searches.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "term",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "202014"
          },
          {
            "name": "criteria",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Atleast one filter criterion on any one of allowed search fields firstName, lastName, middleInitial, surnamePrefix. The allowed operators for all the four search fields are ‘equals’, ‘equalsignorecase’, ‘contains’, ‘startswith’.\n"
          },
          {
            "name": "onlyActive",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "By default it is Y and fetches only active students. Set it as N if both active and inactive students to be fetched.\n"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v1.0.0+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v1.0.0+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Advisee Searches 1.0.0 - GET /api/advisors/{id}/advisee-searches"
        ]
      }
    },
    "/api/advisors/{id}/advisees": {
      "get": {
        "operationId": "get_api_advisors_id_advisees",
        "summary": "advisees 1.0.0 - GET /api/advisors/{id}/advisees",
        "description": "### advisees 1.0.0 - GET /api/advisors/{id}/advisees\n\nRetrieves the list of all advisees for an advisor and their personal information that are setup at an institution level for a particular term.\n\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/advisees-1.0.0/advisees.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "term",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "202014"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v1.0.0+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v1.0.0+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "advisees 1.0.0 - GET /api/advisors/{id}/advisees"
        ]
      }
    },
    "/api/aid-fund-details": {
      "get": {
        "operationId": "get_api_aid_fund_details",
        "summary": "Aid Fund Details 1.0.0 - Returns all the Aid Fund Code Aid Year Details. The details are based on the KVAFNDC page.",
        "description": "### Aid Fund Details 1.0.0 - Returns all the Aid Fund Code Aid Year Details. The details are based on the KVAFNDC page.\n\n<p>Returns all the Aid Fund Code Aid Year Details.</p>\n\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/aid-fund-details-1.0.0/aid-fund-details.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The maximum number of resources requesting for this result set. Default page limit is 500 and upper limit is 1000."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The 0 based index for a collection of resources for the page requested."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v1.0.0+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v1.0.0+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Aid Fund Details 1.0.0 - Returns all the Aid Fund Code Aid Year Details. The details are based on the KVAFNDC page."
        ]
      }
    },
    "/api/applicant-disbursement-details": {
      "get": {
        "operationId": "get_api_applicant_disbursement_details",
        "summary": "Applicant Disbursement Details 1.0.0 - Returns listing of all applicant disbursements.",
        "description": "### Applicant Disbursement Details 1.0.0 - Returns listing of all applicant disbursements.\n\nReturn all information on disbursement details for applicants.\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/applicant-disbursement-details-1.0.0/applicant-disbursement-details.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The maximum number of resources requesting for this result set. Default page limit is 500 and upper limit is 1000."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The 0 based index for a collection of resources for the page requested."
          },
          {
            "name": "criteria",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "### studentId\nReturns disbursements for a specific student based on Student ID.\n```\n/applicant-disbursement-details?criteria={\"studentId\":\"123456\"}\n```\n### Aid Year Code\nReturns disbursements for a specific aid year.\n```\n/applicant-disbursement-details?criteria={\"aidyCode\":\"2025\"}\n```\n### Aid Period Code\nReturns disbursements for a specific aid period.\n```\n/applicant-disbursement-details?criteria={\"aidpCode\":\"LGWNTR20\"}\n```\n### Fund Code\nReturns disbursements for a specific fund code.\n```\n/applicant-disbursement-details?criteria={\"fndcCode\":\"D-BURSTYP\"}\n```\n### Term Code\nReturns disbursements for a specific term.\n```\n/applicant-disbursement-details?criteria={\"termCode\":\"202501\"}\n```\n### Posting Method Indicator\nReturns disbursements with specific posting method (R=A/R, P=A/P).\n```\n/applicant-disbursement-details?criteria={\"postingMethodIndicator\":\"R\"}\n```\n### Multiple Criteria\nReturns disbursements for multiple criteria.\n```\n/applicant-disbursement-details?criteria={\"studentId\":\"123456\",\"aidyCode\":\"2025\",\"fndcCode\":\"D-BURSTYP\"}\n```\n"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v1+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v1+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Applicant Disbursement Details 1.0.0 - Returns listing of all applicant disbursements."
        ]
      }
    },
    "/api/applicant-disbursement-details/batches": {
      "post": {
        "operationId": "post_api_applicant_disbursement_details_batches",
        "summary": "Applicant Disbursement Details 1.0.0 - Submit a batch of applicant disbursement details to be posted to KVRDISB.",
        "description": "### Applicant Disbursement Details 1.0.0 - Submit a batch of applicant disbursement details to be posted to KVRDISB.\n\nA batch of applicant disbursement records will be updated.\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/applicant-disbursement-details-1.0.0/applicant-disbursement-details.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v1+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v1+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Applicant Disbursement Details 1.0.0 - Submit a batch of applicant disbursement details to be posted to KVRDISB."
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/vnd.hedtech.integration.v1+json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/applicant-disbursement-details/batches/{id}": {
      "get": {
        "operationId": "get_api_applicant_disbursement_details_batches_id",
        "summary": "Applicant Disbursement Details 1.0.0 - Returns the result of each item in the batch request.",
        "description": "### Applicant Disbursement Details 1.0.0 - Returns the result of each item in the batch request.\n\n\nReturns the list of IDs for those applicant disbursement details that were successfully created. For those that were not, it returns the list of error messages.\n\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/applicant-disbursement-details-1.0.0/applicant-disbursement-details.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v1+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v1+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Applicant Disbursement Details 1.0.0 - Returns the result of each item in the batch request."
        ]
      }
    },
    "/api/applicant-institutional-awards": {
      "get": {
        "operationId": "get_api_applicant_institutional_awards",
        "summary": "Applicant Institutional Awards 1.0.0 - Returns comprehensive information including awards, disbursements, history, ",
        "description": "### Applicant Institutional Awards 1.0.0 - Returns comprehensive information including awards, disbursements, history, and schedules.\n\nReturn all awards, disbursements, disbursement history, and disbursement schedule information for applicants from KVRAWRD, KVRDISB, KVRDISH, and KVRAPDS tables.\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/applicant-institutional-awards-1.0.0/applicant-institutional-awards.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The maximum number of resources requesting for this result set. Default page limit is 500 and upper limit is 1000."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The 0 based index for a collection of resources for the page requested."
          },
          {
            "name": "criteria",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "### studentId\nReturns data for a specific student based on Student ID.\n```\n/applicant-institutional-awards?criteria={\"studentId\":123456}\n```\n### Aid Year Code\nReturns data for a specific aid year.\n```\n/applicant-institutional-awards?criteria={\"aidyCode\":\"2025\"}\n```\n### Aid Period Code\nReturns data for a specific aid period.\n```\n/applicant-institutional-awards?criteria={\"aidpCode\":\"LGWNTR20\"}\n```\n### Fund Code\nReturns data for a specific fund code.\n```\n/applicant-institutional-awards?criteria={\"fndcCode\":\"JA-IA-BUR\"}\n```\n### Fund Status Code\nReturns awards with specific status.\n```\n/applicant-institutional-awards?criteria={\"fstaStatusCde\":\"ACPT\"}\n``` ### Multiple Criteria Returns data for multiple criteria.\n``` /applicant-institutional-awards?criteria={\"studentId\":\"123456\",\"aidyCode\":\"2025\",\"fndcCode\":\"JA-IA-BUR\"}\n```\n"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v1+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v1+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Applicant Institutional Awards 1.0.0 - Returns comprehensive information including awards, disbursements, history, and schedules."
        ]
      },
      "post": {
        "operationId": "post_api_applicant_institutional_awards",
        "summary": "Applicant Institutional Awards 1.0.0 - Create a new award record in KVRAWRD table.",
        "description": "### Applicant Institutional Awards 1.0.0 - Create a new award record in KVRAWRD table.\n\n<p>\nCreates a new Award Record. Once successfully created, the record will be visible on the <strong>KVAAWRD</strong> page.\n</p>\n<p>\n  The API accepts a single Applicant Institutional Award Record in the request payload, which will be persisted to the appropriate resource tables upon successful submission.\n</p>\n<p>\n  To create a discount award, set the <strong>discountAward</strong> parameter to 'Y'. Additional parameters are available for fee assessment, amount rounding, award locking, and discount award operations:\n</p>\n<ul>\n  <li><strong>discountAward</strong>: Set to 'Y' to create discount-based award</li>\n  <li><strong>feeAssess</strong>: Set to 'Y' to enable fee assessment</li>\n  <li><strong>roundAmt</strong>: Set to 'Y' to enable amount rounding</li>\n  <li><strong>lockAwrd</strong>: Set to 'Y' to lock the award after creation</li>\n  <li><strong>acceptDiscAwrd</strong>: Set to 'Y' to automatically accept discount award</li>\n  <li><strong>cancelDiscAwrd</strong>: Set to 'Y' to cancel discount award</li>\n  <li><strong>declineDiscAwrd</strong>: Set to 'Y' to decline discount award</li>\n  <li><strong>revokeDiscAwrd</strong>: Set to 'Y' to revoke discount award</li>\n</ul>\n<p>\n  All date fields must be provided in the <strong>DD-MM-YYYY</strong> format.\n</p>\n\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/applicant-institutional-awards-1.0.0/applicant-institutional-awards.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v1+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v1+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Applicant Institutional Awards 1.0.0 - Create a new award record in KVRAWRD table."
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/vnd.hedtech.integration.v1+json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/applicant-institutional-awards/batches": {
      "post": {
        "operationId": "post_api_applicant_institutional_awards_batches",
        "summary": "Applicant Institutional Awards 1.0.0 - Submit a batch of award records (both discount-based and non-discount based)",
        "description": "### Applicant Institutional Awards 1.0.0 - Submit a batch of award records (both discount-based and non-discount based) to be posted to KVRAWRD.\n\n<p>\nCreates or Updates multiple Award Records in a single batch operation. Once successfully processed, the records will be visible on the <strong>KVAAWRD</strong> page.\n</p>\n<p>\n  The API accepts an array of Applicant Institutional Award Records in the request payload, which will be persisted to the appropriate resource tables upon successful submission.\n</p>\n<p>\n  <strong>For creating new records:</strong> Submit the record without an <strong>id</strong> field.\n</p>\n<p>  \n  <strong>For updating existing records:</strong> Include the composite <strong>id</strong> structure containing studentId, aidyCode, aidpCode, fndcCode, and fndcSeqNo as shown in the example schema.\n</p>\n<p>\n  To create discount awards, set the <strong>discountAward</strong> parameter to 'Y' for each item. Additional parameters are available for fee assessment, amount rounding, award locking, and discount award operations:\n</p>\n<ul>\n  <li><strong>discountAward</strong>: Set to 'Y' to create discount-based award</li>\n  <li><strong>feeAssess</strong>: Set to 'Y' to enable fee assessment</li>\n  <li><strong>roundAmt</strong>: Set to 'Y' to enable amount rounding</li>\n  <li><strong>lockAwrd</strong>: Set to 'Y' to lock the award after creation</li>\n  <li><strong>acceptDiscAwrd</strong>: Set to 'Y' to automatically accept discount award</li>\n  <li><strong>cancelDiscAwrd</strong>: Set to 'Y' to cancel discount award</li>\n  <li><strong>declineDiscAwrd</strong>: Set to 'Y' to decline discount award</li>\n  <li><strong>revokeDiscAwrd</strong>: Set to 'Y' to revoke discount award</li>\n</ul>\n<p>\n  All date fields must be provided in the <strong>DD-MM-YYYY</strong> format.\n</p>\n\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/applicant-institutional-awards-1.0.0/applicant-institutional-awards.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v1+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v1+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Applicant Institutional Awards 1.0.0 - Submit a batch of award records (both discount-based and non-discount based) to be posted to KVRAWRD."
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/vnd.hedtech.integration.v1+json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/applicant-institutional-awards/batches/{id}": {
      "get": {
        "operationId": "get_api_applicant_institutional_awards_batches_id",
        "summary": "Applicant Institutional Awards 1.0.0 - Returns the result of each item in the batch request.",
        "description": "### Applicant Institutional Awards 1.0.0 - Returns the result of each item in the batch request.\n\n\nReturns the list of IDs for those applicant institutional awards that were successfully created. For those that were not, it returns the list of error messages.\n \n\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/applicant-institutional-awards-1.0.0/applicant-institutional-awards.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v1+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v1+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Applicant Institutional Awards 1.0.0 - Returns the result of each item in the batch request."
        ]
      }
    },
    "/api/applicant-non-year-user-defined-data": {
      "get": {
        "operationId": "get_api_applicant_non_year_user_defined_data",
        "summary": "Applicant Non Year User Defined Data 1.0.0 - Returns user-defined data fields that are not aid year specific.",
        "description": "### Applicant Non Year User Defined Data 1.0.0 - Returns user-defined data fields that are not aid year specific.\n\nReturns resources from ROBNYUD.\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/applicant-non-year-user-defined-data-1.0.0/applicant-non-year-user-defined-data.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The maximum number of resources requesting for this result set.\nThe default limit is 500 and the maximum limit is 1000.\n"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The 0 based index for a collection of resources for the page requested."
          },
          {
            "name": "criteria",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "### Banner Id\nReturns all records for the Banner ID passed.\n```\n/applicant-non-year-user-defined-data?criteria={\"bannerId\":\"231387509\"}\n```\n"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v1+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v1+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Applicant Non Year User Defined Data 1.0.0 - Returns user-defined data fields that are not aid year specific."
        ]
      },
      "post": {
        "operationId": "post_api_applicant_non_year_user_defined_data",
        "summary": "Applicant Non Year User Defined Data 1.0.0 - An insert of user-defined data for a specified financial aid applicant",
        "description": "### Applicant Non Year User Defined Data 1.0.0 - An insert of user-defined data for a specified financial aid applicant.\n\nCreates a resource on ROBNYUD. RORNYVD description must exist for value being posted.\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/applicant-non-year-user-defined-data-1.0.0/applicant-non-year-user-defined-data.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v1+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v1+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Applicant Non Year User Defined Data 1.0.0 - An insert of user-defined data for a specified financial aid applicant."
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/vnd.hedtech.integration.v1+json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/applicant-non-year-user-defined-data/batches": {
      "post": {
        "operationId": "post_api_applicant_non_year_user_defined_data_batches",
        "summary": "Applicant Non Year User Defined Data 1.0.0 - Submit a batch of user-defined data for a specified financial aid appl",
        "description": "### Applicant Non Year User Defined Data 1.0.0 - Submit a batch of user-defined data for a specified financial aid applicants.\n\nPosts a batch of resources to ROBNYUD.\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/applicant-non-year-user-defined-data-1.0.0/applicant-non-year-user-defined-data.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v1+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v1+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Applicant Non Year User Defined Data 1.0.0 - Submit a batch of user-defined data for a specified financial aid applicants."
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/vnd.hedtech.integration.v1+json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/applicant-non-year-user-defined-data/{id}": {
      "get": {
        "operationId": "get_api_applicant_non_year_user_defined_data_id",
        "summary": "Applicant Non Year User Defined Data 1.0.0 - Returns user-defined data fields that are not aid year specific for a ",
        "description": "### Applicant Non Year User Defined Data 1.0.0 - Returns user-defined data fields that are not aid year specific for a specified financial aid applicant.\n\nReturns a specified resource from ROBNYUD.\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/applicant-non-year-user-defined-data-1.0.0/applicant-non-year-user-defined-data.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v1+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v1+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Applicant Non Year User Defined Data 1.0.0 - Returns user-defined data fields that are not aid year specific for a specified financial aid applicant."
        ]
      },
      "put": {
        "operationId": "put_api_applicant_non_year_user_defined_data_id",
        "summary": "Applicant Non Year User Defined Data 1.0.0 - Updates user-defined data fields that are not aid year specific for a ",
        "description": "### Applicant Non Year User Defined Data 1.0.0 - Updates user-defined data fields that are not aid year specific for a specified financial aid applicant.\n\nUpdates an existing resource on ROBNYUD.  RORNYVD description must exist for value being updated.\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/applicant-non-year-user-defined-data-1.0.0/applicant-non-year-user-defined-data.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v1+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v1+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Applicant Non Year User Defined Data 1.0.0 - Updates user-defined data fields that are not aid year specific for a specified financial aid applicant."
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/vnd.hedtech.integration.v1+json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/applicant-other-awards": {
      "get": {
        "operationId": "get_api_applicant_other_awards",
        "summary": "Applicant Other Awards 1.0.0 - Returns data related to external awards.",
        "description": "### Applicant Other Awards 1.0.0 - Returns data related to external awards.\n\nReturn all data related to external awards.\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/applicant-other-awards-1.0.0/applicant-other-awards.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The maximum number of resources requesting for this result set. Default page limit is 500 and upper limit is 1000."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The 0 based index for a collection of resources for the page requested."
          },
          {
            "name": "criteria",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "### studentId\nReturns data for a specific student based on Student ID.\n``` /applicant-other-awards?criteria={\"studentId\":123456}\n``` ### Aid Year Code\nReturns data for a specific aid year.\n``` /applicant-other-awards?criteria={\"aidyCode\":\"2025\"}\n``` ### Aid Period Code\nReturns data for a specific aid period.\n``` /applicant-other-awards?criteria={\"aidpCode\":\"D-FALL08\"}\n``` ### Fund Code\nReturns data for a specific fund code.\n``` /applicant-other-awards?criteria={\"fndcCode\":\"D-OR\"}\n``` ### Fund Status Code\nReturns awards with specific status.\n``` /applicant-other-awards?criteria={\"fstaStatusCode\":\"DOIS\"}\n``` ### Multiple Criteria\nReturns data for multiple criteria.\n``` /applicant-other-awards?criteria={\"studentId\":\"123456\",\"aidyCode\":\"2025\",\"fndcCode\":\"D-OR\"}\n```\n"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v1+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v1+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Applicant Other Awards 1.0.0 - Returns data related to external awards."
        ]
      },
      "post": {
        "operationId": "post_api_applicant_other_awards",
        "summary": "Applicant Other Awards 1.0.0 - Create a new external award record in KVROTHR table.",
        "description": "### Applicant Other Awards 1.0.0 - Create a new external award record in KVROTHR table.\n\n<p>\nCreates a new External Award Record. Once successfully created, the record will be visible on the <strong>KVAOTHR</strong> page.\n</p>\n<p>\nAll date fields must be provided in the <strong>DD-MM-YYYY</strong> format.\n</p>\n\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/applicant-other-awards-1.0.0/applicant-other-awards.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v1+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v1+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Applicant Other Awards 1.0.0 - Create a new external award record in KVROTHR table."
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/vnd.hedtech.integration.v1+json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/applicant-other-awards/batches": {
      "post": {
        "operationId": "post_api_applicant_other_awards_batches",
        "summary": "Applicant Other Awards 1.0.0 - Submit a batch of applicant other awards to be posted to KVROTHR.",
        "description": "### Applicant Other Awards 1.0.0 - Submit a batch of applicant other awards to be posted to KVROTHR.\n\n<p> Creates or Updates multiple External Award Records in a single batch operation. Once successfully processed, the records will be visible on the <strong>KVAOTHR</strong> page. </p> <p> The API accepts an array of External Award Records in the request payload, which will be persisted to the appropriate resource tables upon successful submission. </p> <p> <strong>For creating new records:</strong> Submit the record without an <strong>id</strong> field. </p> <p> <strong>For updating existing records:</strong> Include the composite <strong>id</strong> structure containing studentId, aidyCode, aidpCode, fndcCode, and fndcSeqNo as shown in the example schema. </p>\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/applicant-other-awards-1.0.0/applicant-other-awards.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v1+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v1+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Applicant Other Awards 1.0.0 - Submit a batch of applicant other awards to be posted to KVROTHR."
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/vnd.hedtech.integration.v1+json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/applicant-other-awards/batches/{id}": {
      "get": {
        "operationId": "get_api_applicant_other_awards_batches_id",
        "summary": "Applicant Other Awards 1.0.0 - Returns the result of each item in the batch request.",
        "description": "### Applicant Other Awards 1.0.0 - Returns the result of each item in the batch request.\n\n\nReturns the list of IDs for those applicant other awards that were successfully created. For those that were not, it returns the list of error messages.\n \n\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/applicant-other-awards-1.0.0/applicant-other-awards.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v1+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v1+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Applicant Other Awards 1.0.0 - Returns the result of each item in the batch request."
        ]
      }
    },
    "/api/applicant-supplementary-details": {
      "get": {
        "operationId": "get_api_applicant_supplementary_details",
        "summary": "Applicant Supplementary Details 1.0.0 - Returns the full transfer course details for a student",
        "description": "### Applicant Supplementary Details 1.0.0 - Returns the full transfer course details for a student\n\nReturns the applicant supplementary details for a student, including all test scores, gpa details, course summaries, high school details and prior colleges.\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/applicant-supplementary-details-1.0.0/applicant-supplementary-details.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "applicantId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "###  Applicant Id\nReturns the applicant supplementary details for a student based on the applicantId\n```\n/applicant-supplementary-details?applicantId=STRREGA24\n```\n"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v1.0.0+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v1.0.0+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Applicant Supplementary Details 1.0.0 - Returns the full transfer course details for a student"
        ]
      },
      "post": {
        "operationId": "post_api_applicant_supplementary_details",
        "summary": "Applicant Supplementary Details 1.0.0 - An insert of applicant supplementary details for a student.",
        "description": "### Applicant Supplementary Details 1.0.0 - An insert of applicant supplementary details for a student.\n\nAn insert of applicant supplementary details for a student, including all test scores, gpa details, course summaries, high school details and prior colleges.\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/applicant-supplementary-details-1.0.0/applicant-supplementary-details.yaml",
        "tags": [
          "api"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Applicant Supplementary Details 1.0.0 - An insert of applicant supplementary details for a student."
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/applicant-supplementary-details/batches": {
      "get": {
        "operationId": "get_api_applicant_supplementary_details_batches",
        "summary": "Applicant Supplementary Details 1.0.0 - Returns batch API status for all the jobs created for this resource.",
        "description": "### Applicant Supplementary Details 1.0.0 - Returns batch API status for all the jobs created for this resource.\n\n\nReturns the status for all the jobs created for this resource. Use the /batches/{id} GET API to view the result of each request item.\n\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/applicant-supplementary-details-1.0.0/applicant-supplementary-details.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The maximum number of resources requesting for this result set.\\\nThe default limit is 500 and the maximum limit is 1000.\n```\n"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The 0 based index for a collection of resources for the page requested."
          },
          {
            "name": "criteria",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "### ID \nReturns all records for the batch request ID passed.\n```\n/batches?criteria={\"id\":\"13371b52-1afc-4a98-8186-90f2219dad01\"}\n```\n### Job ID \nReturns all records for the job execution ID passed.\n```\n/batches?criteria={\"jobId\": 123}\n```\n### Start Date\nReturns all records for the start date passed.\n```\n/batches?criteria={\"startDate\":\"2024-09-18 13:46:48\"}\n```\n### Job Status\nReturns all records for the job status passed.\n```\n/batches?criteria={\"status\":\"completed\"}\n```          \n        \n"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v1.0.0+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v1.0.0+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Applicant Supplementary Details 1.0.0 - Returns batch API status for all the jobs created for this resource."
        ]
      },
      "post": {
        "operationId": "post_api_applicant_supplementary_details_batches",
        "summary": "Applicant Supplementary Details 1.0.0 - Submit a batch of applicant supplementary details for a student, including ",
        "description": "### Applicant Supplementary Details 1.0.0 - Submit a batch of applicant supplementary details for a student, including all test scores, gpa details, course summaries, high school details and prior colleges.\n\nA batch of applicant supplementary details for a student, including all test scores, gpa details, course summaries, high school details and prior colleges.\n\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/applicant-supplementary-details-1.0.0/applicant-supplementary-details.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v1.0.0+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v1.0.0+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Applicant Supplementary Details 1.0.0 - Submit a batch of applicant supplementary details for a student, including all test scores, gpa details, course summaries, high school details and prior colleges."
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/vnd.hedtech.integration.v1.0.0+json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/applicant-supplementary-details/batches/{id}": {
      "get": {
        "operationId": "get_api_applicant_supplementary_details_batches_id",
        "summary": "Applicant Supplementary Details 1.0.0 - Returns result of each item in the batch request.",
        "description": "### Applicant Supplementary Details 1.0.0 - Returns result of each item in the batch request.\n\nReturns the list of IDs for those resources that were successfully created or updated. For those that were not, it returns the list of error messages.\n\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/applicant-supplementary-details-1.0.0/applicant-supplementary-details.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v1.0.0+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v1.0.0+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Applicant Supplementary Details 1.0.0 - Returns result of each item in the batch request."
        ]
      }
    },
    "/api/applicant-tracking-requirements": {
      "get": {
        "operationId": "get_api_applicant_tracking_requirements",
        "summary": "Applicant Tracking Requirements 1.0.0 - Returns all applicant requirements.",
        "description": "### Applicant Tracking Requirements 1.0.0 - Returns all applicant requirements.\n\nThis API returns the list of all applicant requirements.\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/applicant-tracking-requirements-1.0.0/applicant-tracking-requirements.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The maximum number of resources requesting for this result set.\\\nThe default limit is 500 and the maximum limit is 1000.\n"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The 0 based index for a collection of resources for the page requested."
          },
          {
            "name": "criteria",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "### Banner Id\nReturns all applicant requirements for the Banner ID passed.\n```\n/applicant-tracking-requirements?criteria={\"bannerId\":\"331314209\"}\n```\n### Aid Year Code\nReturns all applicant requirements for the Aid Year Code passed.\n```\n/applicant-tracking-requirements?criteria={\"aidYearCode\":\"2324\"}\n```\n### Tracking Requirements Code\nReturns all applicant requirements for the Tracking Requirements Code passed.\n```\n/applicant-tracking-requirements?criteria={\"trackingRequirementsCode\":\"ADMIT\"}\n```\n### Fund Code\nReturns all applicant requirements for the Fund Code passed.\n```\n/applicant-tracking-requirements?criteria={\"fundCode\":\"FWS\"}\n```\n### Period\nReturns all applicant requirements for the Period passed.\n```\n/applicant-tracking-requirements?criteria={\"period\":\"202420\"}\n```\n            \n### User ID\nReturns all applicant requirements for the User ID passed.\n```\n/applicant-tracking-requirements?criteria={\"userId\":\"BANUSR1\"}\n"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v1+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v1+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Applicant Tracking Requirements 1.0.0 - Returns all applicant requirements."
        ]
      },
      "put": {
        "operationId": "put_api_applicant_tracking_requirements",
        "summary": "Applicant Tracking Requirements 1.0.0 - Updates the system indicator(s) for (an) applicant requirement(s) in RRRARE",
        "description": "### Applicant Tracking Requirements 1.0.0 - Updates the system indicator(s) for (an) applicant requirement(s) in RRRAREQ.\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/applicant-tracking-requirements-1.0.0/applicant-tracking-requirements.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v1+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v1+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Applicant Tracking Requirements 1.0.0 - Updates the system indicator(s) for (an) applicant requirement(s) in RRRAREQ."
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/vnd.hedtech.integration.v1+json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/applicant-tracking-requirements/batches": {
      "post": {
        "operationId": "post_api_applicant_tracking_requirements_batches",
        "summary": "Applicant Tracking Requirements 1.0.0 - Update a batch of system indicators for applicant requirement records in RR",
        "description": "### Applicant Tracking Requirements 1.0.0 - Update a batch of system indicators for applicant requirement records in RRRAREQ.\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/applicant-tracking-requirements-1.0.0/applicant-tracking-requirements.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v1+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v1+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Applicant Tracking Requirements 1.0.0 - Update a batch of system indicators for applicant requirement records in RRRAREQ."
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/vnd.hedtech.integration.v1+json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/applicant-web-application-tracking-records": {
      "get": {
        "operationId": "get_api_applicant_web_application_tracking_records",
        "summary": "Applicant Web Application Tracking Records 1.0.0 - Returns all the Applicant web application tracking records. The ",
        "description": "### Applicant Web Application Tracking Records 1.0.0 - Returns all the Applicant web application tracking records. The details are based on the KVAFAPP page.\n\n<p>Returns all the Applicant web application tracking records.</p>\n\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/applicant-web-application-tracking-records-1.0.0/applicant-web-application-tracking-records.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The maximum number of resources requesting for this result set. Default page limit is 500 and upper limit is 1000."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The 0 based index for a collection of resources for the page requested."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v1.0.0+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v1.0.0+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Applicant Web Application Tracking Records 1.0.0 - Returns all the Applicant web application tracking records. The details are based on the KVAFAPP page."
        ]
      },
      "post": {
        "operationId": "post_api_applicant_web_application_tracking_records",
        "summary": "Applicant Web Application Tracking Records 1.0.0 - Creates an Applicant web application tracking record.",
        "description": "### Applicant Web Application Tracking Records 1.0.0 - Creates an Applicant web application tracking record.\n\n<p>\nCreates a new Applicant Web Application Tracking Record. Once successfully created, the record will be visible on the <strong>KVAFAPP</strong> page.\n</p>\n<p>\n  The API accepts a single Applicant Web Application Tracking Record in the request payload, which will be persisted to the appropriate resource tables upon successful submission.\n</p>\n<p>\n  All date fields must be provided in the <strong>DD-MM-YYYY</strong> format.\n</p>\n\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/applicant-web-application-tracking-records-1.0.0/applicant-web-application-tracking-records.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.hedtech.integration.v1.0.0+json"
              ]
            },
            "example": "application/vnd.hedtech.integration.v1.0.0+json",
            "description": "Version/media type accepted by this Banner/Ethos endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Applicant Web Application Tracking Records 1.0.0 - Creates an Applicant web application tracking record."
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/vnd.hedtech.integration.v1.0.0+json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/application-page-favorites": {
      "get": {
        "operationId": "get_api_application_page_favorites",
        "summary": "Application Page Favorites 1.0.0 - GET /api/application-page-favorites",
        "description": "### Application Page Favorites 1.0.0 - GET /api/application-page-favorites\n\nRetrieves the list of all favorite application pages for a logged in user.\n\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/application-page-favorites-1.0.0/application-page-favorites.yaml",
        "tags": [
          "api"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Application Page Favorites 1.0.0 - GET /api/application-page-favorites"
        ]
      },
      "post": {
        "operationId": "post_api_application_page_favorites",
        "summary": "Application Page Favorites 1.0.0 - POST /api/application-page-favorites",
        "description": "### Application Page Favorites 1.0.0 - POST /api/application-page-favorites\n\nCreates an entry for the selected page into Favorites table.\n\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/application-page-favorites-1.0.0/application-page-favorites.yaml",
        "tags": [
          "api"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-postman-request-count": 1,
        "x-postman-request-names": [
          "Application Page Favorites 1.0.0 - POST /api/application-page-favorites"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/application-page-favorites/{favoriteId}": {
      "delete": {
        "operationId": "delete_api_application_page_favorites_favoriteId",
        "summary": "Application Page Favorites 1.0.0 - DELETE /api/application-page-favorites/{favoriteId}",
        "description": "### Application Page Favorites 1.0.0 - DELETE /api/application-page-favorites/{favoriteId}\n\nDeletes entry for the selected page from Favorites table.\n\n\nSource OpenAPI file: ethosapis/BannerErpAPIs/application-page-favorites-1.0.0/application-page-favorites.yaml",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "favoriteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response"
          }
        },
[...]
