openapi: 3.0.0
info:
  title: Database Query APIs
  version: 1.1.0
  x-source-system: banner
  description: |
    Returns all the records/APIs created through API DESIGNER from GURASPC where GURASPC_GORDBQC_GUID is not null. 
  x-api-type: ethos
  x-source-domain: Foundation
  x-audience: all
  x-release-status: ga
servers:
  - url: https://integrate.elluciancloud.com
    description: Ethos Integration API U.S.
  - url: https://integrate.elluciancloud.ca
    description: Ethos Integration API Canada
  - url: https://integrate.elluciancloud.ie
    description: Ethos Integration API Europe
  - url: https://integrate.elluciancloud.com.au
    description: Ethos Integration API Asia-Pacific
  - url: '{server_url}'
    description: Custom server url
    variables:
      server_url:
        default: localhost
paths:
  /api/database-query-apis:
    get:
      summary: Returns all the records/APIs created through API DESIGNER from GURASPC where GURASPC_GORDBQC_GUID is not null.
      description: Returns all the records/APIs created through API DESIGNER from GURASPC where GURASPC_GORDBQC_GUID is not null.
      security:
        - EthosIntegrationBearer: []
          BasicAuth: []
          EllucianOAuthUserToken: []
      x-method-permissions: API_DESIGNER_CREATE
      tags:
        - database-query-apis
      parameters:
        - name: accept
          in: header
          required: true
          description: |
            The version of the resource requested. Prefer to use only the whole MAJOR version.  Refer to the Semantic Versioning topic in the API Standards for more information.
            ```
            application/vnd.hedtech.integration.v1.1.0+json
            ```
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: The maximum number of resources requested for this result set. Default page limit is 500 and upper limit is 1000.
          schema:
            type: integer
        - name: offset
          in: query
          required: false
          description: The 0-based index for a collection of resources for the page requested.
          schema:
            type: integer
        - name: criteria
          in: query
          required: false
          schema:
            type: object
          description: |
            ### Filters of the published API 
            ```
            /database-query-apis?criteria={"resource":"x-api"}
            ``` ```
            /database-query-apis?criteria={"statuses":["PUBLISHED", "ARCHIVED"]}
            ```  ```
            /database-query-apis?criteria={"lastModifiedBy":"userName"}
            ``` ```
            /database-query-apis?criteria={"queryStatus":"DRAFT"}
            ```
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/schema-database-query-apis-1.1.0'
              examples:
                database-query-apis-example-1.1.0:
                  $ref: '#/components/examples/database-query-apis-example-1.1.0'
          headers:
            X-Media-Type:
              description: application/vnd.hedtech.integration.v1.1.0+json
              schema:
                type: string
            X-Total-Count:
              description: Specifies the total number of resources that satisfy the query.
              schema:
                type: integer
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Permission Denied
        '404':
          description: Resource not found
        '500':
          description: Server error, unexpected configuration or data
    post:
      summary: Create a new resource in GURASPC.
      description: Returns all the records/APIs created through API DESIGNER from GURASPC where GURASPC_GORDBQC_GUID is not null.
      security:
        - EthosIntegrationBearer: []
          BasicAuth: []
          EllucianOAuthUserToken: []
      x-method-permissions: API_DESIGNER_CREATE
      tags:
        - database-query-apis
      parameters:
        - name: accept
          in: header
          required: true
          description: |
            The version of the resource requested. Prefer to use only the whole MAJOR version.  Refer to the Semantic Versioning topic in the API Standards for more information.
            ```
            application/vnd.hedtech.integration.v1.1.0+json
            ```
          schema:
            type: string
        - name: content type
          in: header
          required: true
          description: |
            The version of the resource supplied in the request. Please refer to the API source documentation for detailed support information. Prefer to use only the whole MAJOR version. 
            ```
            application/vnd.hedtech.integration.v1+json
            ```
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/schema-database-query-apis-1.1.0'
              examples:
                database-query-apis-example-1.1.0:
                  $ref: '#/components/examples/database-query-apis-example-1.1.0'
          headers:
            X-Media-Type:
              description: application/vnd.hedtech.integration.v1.0.0+json
              schema:
                type: string
            X-Total-Count:
              description: Specifies the total number of resources that satisfy the query.
              schema:
                type: integer
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Permission Denied
        '404':
          description: Resource not found
        '500':
          description: Server error, unexpected configuration or data
  /api/database-query-apis/{id}:
    get:
      summary: Return the requested resource from the GURASPC
      description: Returns the API from the GURASPC table with the passed in identifier.
      security:
        - EthosIntegrationBearer: []
          BasicAuth: []
          EllucianOAuthUserToken: []
      x-method-permissions: API_DESIGNER_CREATE
      tags:
        - database-query-apis
      parameters:
        - name: id
          in: path
          required: true
          description: A global identifier of the resource for use in all external references
          schema:
            type: string
            format: GUID
            minimum: 1
        - name: accept
          in: header
          required: true
          description: |
            The version of the resource requested. Please refer to the API source documentation for detailed support information. Prefer to use only the whole MAJOR version. 
            ```
            application/vnd.hedtech.integration.v1.1.0+json
            ```
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/schema-database-query-apis-1.1.0'
              examples:
                database-query-apis-example-1.1.0:
                  $ref: '#/components/examples/database-query-apis-example-1.1.0'
          headers:
            X-Media-Type:
              description: application/vnd.hedtech.integration.v1.0.0+json
              schema:
                type: string
            X-Total-Count:
              description: Specifies the total number of resources that satisfy the query.
              schema:
                type: integer
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Permission Denied
        '404':
          description: Resource not found
        '500':
          description: Server error, unexpected configuration or data
    put:
      summary: Update the requested resource from GURASPC.
      description: 'Updates an API in GURASPC with the passed-in identifier. - An update request sent for a draft creates a change in the endpoint, resource, and logic spec in the GURASPC. In addition to the required properties defined in the data model, the following are required for a PUT request: apiName.'
      security:
        - EthosIntegrationBearer: []
          BasicAuth: []
          EllucianOAuthUserToken: []
      x-method-permissions: API_DESIGNER_CREATE
      tags:
        - database-query-apis
      parameters:
        - name: id
          in: path
          required: true
          description: A global identifier of Blanket Purchase Orders for use in all external references
          schema:
            type: string
            format: GUID
            minimum: 1
        - name: accept
          in: header
          required: true
          description: |
            The version of the resource requested. Prefer to use only the whole MAJOR version.  Refer to the Semantic Versioning topic in the API Standards for more information.
            ```
            application/vnd.hedtech.integration.v1+json
            ```
          schema:
            type: string
        - name: content type
          in: header
          required: true
          description: |
            The version of the resource supplied in the request. Please refer to the API source documentation for detailed support information. Prefer to use only the whole MAJOR version. 
            ```
            application/vnd.hedtech.integration.v1.1.0+json
            ```
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/schema-database-query-apis-1.1.0'
              examples:
                database-query-apis-example-1.1.0:
                  $ref: '#/components/examples/database-query-apis-example-1.1.0'
          headers:
            X-Media-Type:
              description: application/vnd.hedtech.integration.v1.1.0+json
              schema:
                type: string
            X-Total-Count:
              description: Specifies the total number of resources that satisfy the query.
              schema:
                type: integer
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Permission Denied
        '404':
          description: Resource not found
        '500':
          description: Server error, unexpected configuration or data
components:
  securitySchemes:
    EthosIntegrationBearer:
      scheme: bearer
      type: http
    BasicAuth:
      type: http
      scheme: basic
    EllucianOAuthUserToken:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://integrate.elluciancloud.com
          tokenUrl: https://integrate.elluciancloud.com
          scopes:
            read: Read access
            write: Write access
  schemas:
    schema-database-query-apis-1.1.0:
      title: Database Query APIs
      description: Database query APIs created and published through API DESIGNER.
      type: object
      properties:
        metadata:
          title: Metadata
          description: Metadata about the JSON payload
          type: object
          properties:
            createdBy:
              title: Created By
              description: The name of the originator (user or system) of the data. This is informational only, do not use in business logic!
              type: string
            createdOn:
              title: Created On
              description: The date and time when the entity instance was created
              oneOf:
                - type: string
                  format: date-time
                  pattern: ^(-?(?:[1-9][0-9]*)?[0-9]{4})-(1[0-2]|0[1-9])-(3[0-1]|0[1-9]|[1-2][0-9])T(2[0-3]|[0-1][0-9]):([0-5][0-9]):([0-5][0-9])(\.[0-9]+)?(Z|[+-](?:2[0-3]|[0-1][0-9]):[0-5][0-9])?$
                - type: string
                  maxLength: 0
            modifiedBy:
              title: Modified By
              description: The name of the modifier (user or system) of the data. This is informational only, do not use in business logic!
              type: string
            modifiedOn:
              title: Modified On
              description: The date and time when the entity instance was last modified
              oneOf:
                - type: string
                  format: date-time
                  pattern: ^(-?(?:[1-9][0-9]*)?[0-9]{4})-(1[0-2]|0[1-9])-(3[0-1]|0[1-9]|[1-2][0-9])T(2[0-3]|[0-1][0-9]):([0-5][0-9]):([0-5][0-9])(\.[0-9]+)?(Z|[+-](?:2[0-3]|[0-1][0-9]):[0-5][0-9])?$
                - type: string
                  maxLength: 0
          additionalProperties: false
        apiName:
          title: API Name
          description: The name of the API.
          type: string
          x-lineageReferenceObject: GURASPC_RESOURCE(GURASPC)
        databaseQueryId:
          title: Database Query Id
          description: The id of the database query that is created for this API.
          type: string
          format: guid
          pattern: ^[a-f0-9]{8}(?:-[a-f0-9]{4}){3}-[a-f0-9]{12}$
          x-lineageReferenceObject: GURASPC_GORDBQC_GUID(GORDQBD)
        publish:
          title: Publish
          description: The Status of the API is in. Allowed values are DRAFT and PUBLISHED.
          type: string
          x-lineageReferenceObject: GURASPC_STATUS(GURASPC)
        description:
          title: Description
          description: The description of the API.
          type: string
          x-lineageReferenceObject: GURASPC_DESCRIPTION(GORDQBD)
        domain:
          title: Domain
          description: The domain to which the API belongs.
          type: string
          x-lineageReferenceObject: GURASPC_MODULE_NAME(GURASPC)
        apiSpecificationId:
          title: Api Specification Id
          description: The unique identifier of API in GURASPC if the API is in PUBLISHED state.
          type: string
          format: guid
          pattern: ^[a-f0-9]{8}(?:-[a-f0-9]{4}){3}-[a-f0-9]{12}$
          x-lineageReferenceObject: GURASPC_GUID(GURASPC)
        databaseCompiledQueryId:
          title: Database Compiled Query Id
          description: The unique identifier of the compiled query in GORDBQC for the created API query.
          type: string
          format: guid
          pattern: ^[a-f0-9]{8}(?:-[a-f0-9]{4}){3}-[a-f0-9]{12}$
          x-lineageReferenceObject: GORDBQC_GUID(GORDBQC)
        semanticVersion:
          title: Semantic Version
          description: Semantic Version of the API.
          type: string
        version:
          title: Version
          description: Major Version of the API.
          type: number
        maxPageSize:
          title: Max Page Size
          description: Maximum records that the API will return on GET call, by default the value is 500.
          type: number
          x-lineageReferenceObject: GURASPC_MAX_PAGE_SIZE(GURASPC)
        securityRoles:
          title: Security Roles
          description: Self-service roles that can be assigned to grant users authorization to access and view this API.
          type: array
          minItems: 1
          items:
            minLength: 0
            type: string
          x-lineageReferenceObject: GURASPC_SECURITY_ROLES(GURASPC)
        securityObject:
          title: Security Object
          description: The API Designer instantiates a security object to authorize the user responsible for publishing the API. This object enables access to the API using Basic Authentication, ensuring that only authenticated users can view or interact with the published interface.
          type: string
          x-lineageReferenceObject: GURASPC_SECURITY_OBJECT(GURASPC_SECURITY)
        createUserId:
          title: Create User Id
          description: The name of the user who created this  API.
          type: string
          x-lineageReferenceObject: GURASPC_CREATE_USER_ID(GURASPC)
        createDate:
          title: Create Date
          description: The date and time when the entity instance was created.
          type: string
          x-lineageReferenceObject: GORDQBD_CREATE_DATE(GORDQBD)
        lastModified:
          title: Last Modified On
          description: The date and time when the entity instance was last modified.
          type: string
          x-lineageReferenceObject: GORDQBD_ACTIVITY_DATE(GORDQBD)
        lastModifiedBy:
          title: Last Modified By
          description: The name of the modifier (user) of the entity.
          type: string
          x-lineageReferenceObject: GORDQBD_USER_ID(GORDQBD)
        idProperty:
          title: Id Property
          description: Column that is used as ID for custom API(show method) which is created through API DESIGNER.
          type: string
          x-lineageReferenceObject: GURASPC_API_BUILDER_ID(GURASPC)
        registryDocRefId:
          title: Registry Doc Ref Id
          description: Document reference ID obtained from registry API.
          type: string
          x-lineageReferenceObject: GURASPC_DOC_REF_ID(GURASPC)
        draftId:
          title: Draft Id
          description: The unique ID of the draft API which is created through API DESIGNER for this API.
          type: string
          x-lineageReferenceObject: GORDQBD_GUID(GORDQBD)
        deprecationNotice:
          title: Deprecation Notice
          description: The unique ID of the draft API which is created through API DESIGNER for this API.
          type: object
          properties:
            deprecatedOn:
              title: Deprecated On
              description: Date on which the API is deprecated.
              type: string
            description:
              title: Description
              description: Reason why the API is deprecated.
              type: string
            sunsetOn:
              title: Sunset On
              description: Date from which the API won't be available to use.
              type: string
          additionalProperties: false
          required:
            - deprecatedOn
            - description
            - sunsetOn
          x-lineageReferenceObject: GURASPC_DEPRECATION_NOTICE(GURASPC)
      additionalProperties: false
      required:
        - apiSpecificationId
        - apiName
  examples:
    database-query-apis-example-1.1.0:
      summary: Database Query Apis example
      value:
        id: f6f2d2de-d35b-4cd8-8e5c-80788101998n
        domain: GENERAL
        description: API example for API Designer
        maxPageSize: 500
        securityRoles:
          - SELFSERVICE-EXECUTIVE
        idProperty: SPRIDEN.SPRIDEN_SURROGATE_ID
        name: x-api-example
        schema:
          id:
            propertyName: id
            title: SPRIDEN_SURROGATE_ID
            label: Id
            description: 'SURROGATE ID: Immutable unique key'
            entityName: SPRIDEN
            nullable: 'N'
            length: 19
            type: number
            dataPrecision: 19
            dataScale: 0
            valueType: COLUMN
          changeInd:
            propertyName: changeInd
            title: SPRIDEN_CHANGE_IND
            label: Change Ind
            description: 'This field identifies whether type of change made to the record was an ID       number change or a name change. Valid values: I - ID change, N - name change.'
            entityName: SPRIDEN
            nullable: 'Y'
            length: 4
            type: string
            dataPrecision: null
            dataScale: null
            valueType: COLUMN
          firstName:
            propertyName: firstName
            title: SPRIDEN_FIRST_NAME
            label: First Name
            description: This field identifies the first name of person.
            entityName: SPRIDEN
            nullable: 'Y'
            length: 240
            type: string
            dataPrecision: null
            dataScale: null
            valueType: COLUMN
          personId:
            propertyName: personId
            title: SPRIDEN_ID
            label: Id 1
            description: This field defines the identification number used to access person on-line.
            entityName: SPRIDEN
            nullable: 'N'
            length: 36
            type: string
            dataPrecision: null
            dataScale: null
            valueType: COLUMN
          lastName:
            propertyName: lastName
            title: SPRIDEN_LAST_NAME
            label: Last Name
            description: This field defines the last name of person.
            entityName: SPRIDEN
            nullable: 'N'
            length: 240
            type: string
            dataPrecision: null
            dataScale: null
            valueType: COLUMN
          mi:
            propertyName: mi
            title: SPRIDEN_MI
            label: Mi
            description: This field identifies the middle name of person.
            entityName: SPRIDEN
            nullable: 'Y'
            length: 240
            type: string
            dataPrecision: null
            dataScale: null
            valueType: COLUMN
          personGuid:
            propertyName: personGuid
            title: GORGUID_GUID
            label: Gorguid Guid
            description: 'GUID: Unique identifier across all database LDM objects.'
            entityName: modelexample
            nullable: 'N'
            length: 144
            type: string
            dataPrecision: null
            dataScale: null
            valueType: COLUMN
        semanticVersion: 1.0.0
        bindParameters: []
        entities:
          - name: SPRIDEN
          - name: modelexample
            queryReference:
              queryId: 5c73eaf5-31f5-4436-9a99-278086673ea5
            joinType: inner
            joinConditions:
              - name: SPRIDEN_PIDM
                expression: GORGUID_DOMAIN_KEY
                entityName: SPRIDEN
                expressionEntityName: modelexample
                dataType: number
                expressionDataType: string
                operator: '='
        selects:
          - name: SPRIDEN_CHANGE_IND
            entityName: SPRIDEN
            valueType: COLUMN
            dataType: string
          - name: SPRIDEN_FIRST_NAME
            entityName: SPRIDEN
            valueType: COLUMN
            dataType: string
          - name: SPRIDEN_ID
            entityName: SPRIDEN
            valueType: COLUMN
            dataType: string
          - name: SPRIDEN_LAST_NAME
            entityName: SPRIDEN
            valueType: COLUMN
            dataType: string
          - name: SPRIDEN_MI
            entityName: SPRIDEN
            valueType: COLUMN
            dataType: string
          - name: SPRIDEN_SURROGATE_ID
            entityName: SPRIDEN
            valueType: COLUMN
            dataType: number
          - name: GORGUID_GUID
            entityName: modelexample
            valueType: COLUMN
            dataType: string
        criteria:
          - condition: null
            name: GORGUID_LDM_NAME
            nameValueType: field
            entityName: modelexample
            operator: '='
            expression: '''persons'''
            expressionType: literal
            expressionEntityName: null
            dataType: string
            expressionDataType: string
            expressionParams: null
        userSecurity:
          name: SPRIDEN_PIDM
          entityName: SPRIDEN
          operator: '='
          expression: '%%SECURITY_PRINCIPAL_ID%%'
          rowLevelSecurityEnabled: true
        sorts:
          - name: SPRIDEN_FIRST_NAME
            entityName: SPRIDEN
            sortType: asc
        groupBys: []
